<div class="btn-group btn-group-sm"
    *ngIf="projects && projects.length > 0 && currentProject && currentProject.isConfigured === true">
    <div ngbDropdown display="dynamic">
        <a class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle title="Configure project">
            <fa-icon [icon]="['far', 'bookmark']" size="sm"></fa-icon>
            <span class="ml-1"> {{currentProject ? currentProject.name : 'Projects'}}</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
            <button ngbDropdownItem (click)="showProjectSetup(project)" *ngFor="let project of projects">
                <fa-icon [icon]="['far','sun']" class="float-right" size="sm"></fa-icon>
                {{project.name}}
            </button>
        </div>
    </div>
</div>

<div class="btn-group btn-group-sm ml-2 alert-warning" style="white-space: nowrap;"
    *ngIf="currentProject && !currentProject.isConfigured">
    <button class="btn btn-link btn-sm pt-0 pb-0" (click)="showProjectSetup(currentProject)">
        <div class="small text-dark">New project found </div>
        <div class=" text-primary">Configure now</div>
    </button>
    <button class="btn btn-link text-danger" (click)="dismissProjectSetup(currentProject)"
        title="Dismiss and don't show again">
        <fa-icon icon="times" size="small"></fa-icon>
    </button>
</div>