<div class="btn-group btn-group-sm">
    <div ngbDropdown display="dynamic" placement="bottom-right">
        <a class="btn btn-link text-muted hide-caret" id="dropdownBasic1" ngbDropdownToggle title="admin tools">
            <!-- <fa-icon [icon]="['far', 'sun']"></fa-icon> -->
            <fa-icon icon="ellipsis-v"></fa-icon>
            <span class="d-inline d-md-none ml-2"> Tools</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">

            <div class="text-muted small ml-2">JIRA SETUP</div>
            <a ngbDropdownItem (click)="openConnectionDetailEditor()">
                <fa-icon icon="tools" size="fw" class="text-muted"></fa-icon>
                Connection details
            </a>

            <div class="text-muted small mt-3 ml-2">CONFIGURATIONS</div>

            <a ngbDropdownItem routerLink="configurations" [queryParams]="{ mode: 'import' }"
                queryParamsHandling="merge">
                <fa-icon icon="upload" size="fw" class="text-muted"></fa-icon>
                Import
            </a>
            <a ngbDropdownItem routerLink="configurations" [queryParams]="{ mode: 'export' }"
                queryParamsHandling="merge">
                <fa-icon size="fw" icon="download" class="text-muted"></fa-icon>
                Export
            </a>

            <div class="dropdown-divider"></div>
            <a ngbDropdownItem target="_blank" href="https://www.linkedin.com/in/adhamankar/">
                <fa-icon size="fw" icon="copyright" class="text-muted"></fa-icon>
                2020 AD
                <div class="ml-4 small text-muted">
                    <sup>VERSION: {{version}}</sup>
                </div>
            </a>

        </div>
    </div>
</div>