<div class="pane" *ngIf="fieldMapping">
    <div class="pane-header">
        <a class="btn btn-sm btn-primary float-right" title="Download JSON" [href]="downloadJsonHref" download="storypurpose-config.json">
            <fa-icon icon="download"></fa-icon> Export
        </a>

        <h4>Custom field configuration</h4>
    </div>

    <div class="pane-body">
        <div class="mb-3">
            <button class="btn btn-sm btn-link text-muted float-right" *ngIf="fieldMapping.hierarchy.support"
                (click)="fieldMapping.hierarchy.hide = !fieldMapping.hierarchy.hide">
                <fa-icon [icon]="fieldMapping.hierarchy.hide? 'plus' : 'minus'"></fa-icon>
            </button>
            <input type="checkbox" class="mr-2" id="hierarchy" name="hierarchy"
                [(ngModel)]="fieldMapping.hierarchy.support">
            <label for="hierarchy">Project hierarchy</label>
            <div *ngIf="fieldMapping.hierarchy.support && !fieldMapping.hierarchy.hide"
                class="alert bg-light pt-0 pb-0">
                <app-mapping-list [list]="fieldMapping.hierarchy.list"></app-mapping-list>
            </div>
        </div>

        <div>
            <button class="btn btn-sm btn-link text-muted float-right" *ngIf="fieldMapping.epicLink.support"
                (click)="fieldMapping.epicLink.hide = !fieldMapping.epicLink.hide">
                <fa-icon [icon]="fieldMapping.epicLink.hide? 'plus' : 'minus'"></fa-icon>
            </button>
            <input type="checkbox" class="mr-2" id="epicLink" name="epicLink"
                [(ngModel)]="fieldMapping.epicLink.support">
            <label for="epicLink">Epic link</label>
            <div *ngIf="fieldMapping.epicLink.support && !fieldMapping.epicLink.hide"
                class="alert bg-light mb-3 pt-0 pb-0">

                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>Field name</th>
                            <th>Field code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control form-control-sm" placeholder="Key"
                                    [(ngModel)]="fieldMapping.epicLink.name">
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" placeholder="Value"
                                    [(ngModel)]="fieldMapping.epicLink.code">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <h6 class="mt-4">Manage Issuetype specific mapping</h6>
        <div *ngFor="let issuetype of fieldMapping.issueTypes;let i = index" class="alert bg-light mb-2 pb-0 pr-0">

            <button class="btn btn-sm btn-link text-muted float-right" (click)="issuetype.hide = !issuetype.hide">
                <fa-icon [icon]="issuetype.hide? 'plus' : 'minus'"></fa-icon>
            </button>

            <div class="input-group input-group-sm mb-1 w-50">
                <input type="text" placeholder="issuetype" class="form-control" [(ngModel)]="issuetype.name">
                <div class="input-group-append">
                    <button class="btn btn-outline-danger border" type="button"
                        (click)="removeIssueTypeConfiguration(i)">
                        <fa-icon icon="times"></fa-icon>
                    </button>
                </div>
            </div>

            <div class="ml-4 mr-2" *ngIf="!issuetype.hide">
                <app-mapping-list [list]="issuetype.list"></app-mapping-list>
            </div>
        </div>

        <button class="btn btn-sm btn-link mt-2" (click)="addIssueTypeConfiguration()">
            <fa-icon icon="plus"></fa-icon> Add issuetype
        </button>
    </div>

    <div class="pane-footer">
        <app-button-panel (save)="onSave()" (close)="onClose(false)" (reset)="onReset()"></app-button-panel>
    </div>
</div>