<!-- <app-recently-viewed></app-recently-viewed> -->
<div class="body-container">
    <as-split direction="horizontal">
        <as-split-area size="20">
            <div class="sticky-title p-2">
                <app-issue-entry [hideIssuelistNavigator]="true" [issueLookup]="issueLookup"></app-issue-entry>
            </div>

            <div class="m-2 alert alert-warning p-2 small text-dark rounded-0"
                *ngIf="currentProject && currentProject.isConfigured == false">
                <button class="btn btn-sm btn-link float-right rounded-0" (click)="dismissProjectSetup()">
                    <fa-icon icon="times" class="text-danger"></fa-icon>
                </button>
                Customize project configuration

                <button class="btn btn-sm btn-primary pt-0 pb-0 pl-1 pr-2 mt-1 mb-1" (click)="configureProject()">
                    <fa-icon icon="wrench" size="sm"></fa-icon> Configure
                </button>
            </div>

            <div *ngIf="treeNodes" class="pb-5">
                <p-contextMenu #cm [model]="menulist" appendTo="body"></p-contextMenu>
                <p-tree [value]="treeNodes" selectionMode="single" (onNodeExpand)="loadNode($event)"
                    [(selection)]="selectedNode" (onNodeSelect)="nodeSelected($event)" [contextMenu]="cm"
                    (onNodeContextMenuSelect)="nodeContextMenuSelect($event.node)">
                    <ng-template let-node pTemplate="default">
                        <div style="font-size: 90%;" [ngClass]="{
                                        'small text-muted text-uppercase font-italic': checkIfCustomNode(node),
                                        'font-weight-bold': node.key === issueKey
                                }" [title]="getIssueTitle(node)">
                            {{node.label}}</div>
                    </ng-template>
                    <ng-template let-node pTemplate="Heading">
                        <div [title]="getHeaderTitle(node)">
                            {{node.label}}
                        </div>
                    </ng-template>
                    <ng-template let-node pTemplate="Editable">
                        <i class="editable-node">
                            {{node.label}}
                            <fa-icon size="sm" class="text-muted ml-1" icon="pencil-alt" *ngIf="node.editable">
                            </fa-icon>
                        </i>
                    </ng-template>
                    <ng-template let-node pTemplate="Editing">
                        <div class="input-group input-group-sm" style="width:200px">
                            <input type="text" class="form-control" [appAutofocus]="node.type === 'Editing'"
                                [(ngModel)]="node.title" (keydown.enter)="updateNodeTitleOnEnter($event, node)"
                                (keydown.escape)="cancelNodeEditingOnEscape($event, node)">
                            <div class="input-group-append">
                                <button class="btn btn-link border" [disabled]="!canUpdateTitle(node)"
                                    (click)="updateNodeTitle(node)">
                                    <fa-icon icon="check"></fa-icon>
                                </button>
                                <button class="btn btn-link text-danger border" (click)="cancelNodeEditing(node)">
                                    <fa-icon icon="times"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </p-tree>
            </div>
        </as-split-area>

        <as-split-area size="80">
            <router-outlet></router-outlet>
        </as-split-area>
    </as-split>
</div>

<p-sidebar [(visible)]="showProjectConfigSetup" styleClass="ui-sidebar-md" position="right">
    <app-project-config [project]="currentProject" (close)="projectConfigSetupCompleted($event)">
    </app-project-config>
</p-sidebar>

<p-sidebar [(visible)]="showOrganizationSetup" styleClass="ui-sidebar-md" position="right">
    <app-organization (close)="setupCompleted($event)"></app-organization>
</p-sidebar>

<p-sidebar [(visible)]="showHierarchyFieldSetup" styleClass="ui-sidebar-md" position="right">
    <app-hierarchy-field [hierarchyField]="hierarchyFieldPurpose" (close)="setupCompleted($event)">
    </app-hierarchy-field>
</p-sidebar>