<div class=" input-group">
  <div class="input-group-prepend" *ngIf="!hideIssuelistNavigator">
    <button class="btn btn-secondary rounded-0" (click)="onShowEpiclist()">
      <fa-icon icon="bars"></fa-icon>
    </button>
  </div>

  <input type="text" class="form-control rounded-0 bg-light" name="issueByKeyId" [(ngModel)]="issue"
    placeholder="Jira issue key" id="typeahead-focus" type="text" [ngbTypeahead]="search"
    (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
    #instance="ngbTypeahead" (keydown.enter)="selectTo(issue)" (keydown.control.enter)="navigateTo(issue)" />
  <div class="input-group-append" *ngIf="canNavigate()">
    <button class="btn btn-light rounded-0 border border-left-0 text-primary" type="button" (click)="navigateTo(issue)">
      <fa-icon icon="chevron-right" [fixedWidth]="true"></fa-icon>
    </button>
  </div>
</div>