<h5 *ngIf="showTitle">
    <fa-icon [icon]="['far', 'comments']" class="mr-1"></fa-icon>
    Comments
    <div *ngIf="comments && comments.total > 0" class="badge badge-secondary ml-1">{{comments.total}}</div>
</h5>
<div *ngIf="loading">
    <fa-icon icon="spinner" [spin]="true" aria-hidden="true" class="mr-1"></fa-icon> loading...
</div>
<div *ngIf="!loading" style="overflow:auto">
    <div *ngIf="!comments || comments.total === 0" class="alert alert-warning">
        No comments
    </div>

    <div *ngIf="comments && comments.records">
        <div *ngFor="let comment of comments.records">
            <small class="text-uppercase">{{comment.created | date:'short'}}</small>
            <div class="ml-3 pl-3 pb-3 pt-1 border-left" style="overflow:auto">
                <ngx-md [data]="comment.body"></ngx-md>
                <div class="text-muted text-uppercase small" *ngIf="comment.author"> - {{comment.author.displayName}}
                </div>
            </div>
        </div>
    </div>
    <div class="pb-3">

        <div (click)="showEditor()" *ngIf="!isEditorVisible" style="cursor:pointer"
            class="bg-white rounded text-muted p-3" title="click to add comment">
            <i>click to add comment</i>
        </div>

        <div *ngIf="isEditorVisible">
            <textarea type="text" class="form-control form-control-sm" [appAutofocus]="isEditorVisible === true"
                [(ngModel)]="newComment" (keydown.control.enter)="add()" (keydown.escape)="onCancel($event)" rows="3"
                placeholder="add comment..."></textarea>

            <div class="text-right mt-2">
                <button class="btn btn-default btn-sm" type="button" [disabled]="!canAdd()" (click)="add()">
                    <fa-icon icon="check"></fa-icon> Add comment
                </button>
            </div>
        </div>
    </div>

</div>