<div class="btn-group btn-group-sm">
    <a title="View purpose" class="text-primary pl-1 pr-1" *ngIf="spread"
        [routerLink]="['/browse', parentIssueKey ? parentIssueKey : issueKey, 'purpose', issueKey, 'details']">
        <div class="rotate-45">
            <fa-icon [icon]="['far', 'clone']" [fixedWidth]="true" size="sm" class="text-brand"> </fa-icon>
        </div>
    </a>

    <a target="_blank" class="text-primary pl-1 pr-1" *ngIf="spread" title="View in jira"
        href="{{prepareExternalUrl(issueKey)}}">
        <fa-icon [icon]="['fab', 'jira']" [fixedWidth]="true" class="text-primary"> </fa-icon>
    </a>

    <div ngbDropdown display="dynamic" [placement]="(placement && placement.length > 0 ? placement : 'bottom-right')">
        <a class="text-primary pl-2 hide-caret" style="cursor: pointer;" id="dropdownBasic1" ngbDropdownToggle
            title="Issue tools">
            <fa-icon [icon]="(icon && icon.length > 0 ? icon : spread ? 'ellipsis-h' : 'ellipsis-v')"></fa-icon>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right pb-0">
            <ng-container *ngIf="!spread">

                <a title="View purpose" ngbDropdownItem class="small"
                    [routerLink]="['/browse', parentIssueKey ? parentIssueKey : issueKey, 'purpose', issueKey, 'details']">
                    <div class="rotate-45 float-left mr-1">
                        <fa-icon [icon]="['far', 'clone']" [fixedWidth]="true" size="xs" class="text-brand"> </fa-icon>
                    </div>
                    View purpose
                </a>
                <a target="_blank" ngbDropdownItem class="small" title="View in jira"
                    href="{{prepareExternalUrl(issueKey)}}">
                    <fa-icon [icon]="['fab', 'jira']" [fixedWidth]="true" class="text-primary"> </fa-icon> View in Jira
                </a>

                <div class="dropdown-divider mb-0"></div>

            </ng-container>

            <a title="Storyboard" ngbDropdownItem class="small"
                [routerLink]="['/browse', parentIssueKey ? parentIssueKey : issueKey, 'purpose', issueKey, 'storyboard']">
                <fa-icon [icon]="['far', 'map']" [fixedWidth]="true"> </fa-icon> View on storyboard
            </a>
            <a title="Timeline" ngbDropdownItem class="small"
                [routerLink]="['/browse', parentIssueKey ? parentIssueKey : issueKey, 'purpose', issueKey, 'timeline']">
                <fa-icon icon="map-signs" [fixedWidth]="true"> </fa-icon> View timeline
            </a>

            <ng-content></ng-content>

        </div>
    </div>
</div>