<div class="btn-group btn-group-sm">
    <div ngbDropdown display="dynamic" placement="bottom-right">
        <a class="text-primary pl-2 hide-caret" id="dropdownBasic1" ngbDropdownToggle title="Issue tools">
            <fa-icon icon="ellipsis-v"></fa-icon>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
            <a title="View purpose" ngbDropdownItem
                [routerLink]="['/browse', parentIssueKey ? parentIssueKey : issueKey, 'purpose', issueKey, 'details']">
                <fa-icon icon="fire" size="fw" class="text-muted">
                </fa-icon>
                View purpose
            </a>
            <a target="_blank" ngbDropdownItem title="View in jira" href="{{prepareExternalUrl(issueKey)}}">
                <fa-icon [icon]="['fab', 'jira']" size="fw" class="text-muted">
                </fa-icon>
                View in Jira
            </a>

            <ng-content></ng-content>

        </div>
    </div>
</div>