<div class="pane">
    <div class="pane-header" *ngIf="issue">
        <h4>Link issue</h4>
    </div>

    <div class="pane-body">
        <div class="container pt-3" *ngIf="issue">
            <div class="alert bg-light mb-3">
                {{issue.key}}: {{issue.title}}
            </div>

            <div class="form-group">
                <label>Link type:</label>
                <select *ngIf="issueLinkTypes" style="max-width: 200pt;" class="form-control form-control-sm"
                    [(ngModel)]="record.linktype">
                    <ng-container *ngFor="let lt of issueLinkTypes">
                        <option [value]="lt.name +':outward'">{{lt.outward}}</option>
                        <option [value]="lt.name +':inward'" *ngIf="lt.inward !== lt.outward">{{lt.inward}}</option>
                    </ng-container>
                </select>
            </div>

            <div class="form-group">
                <label>Search issue to link:</label>
                <div class="ui-fluid">
                    <p-autoComplete [(ngModel)]="record.linkedIssue" [suggestions]="issueLookup" [forceSelection]="true"
                        placeholder="issue key or summary/title" (completeMethod)="search($event)" field="title">
                        <ng-template let-issue pTemplate="item">
                            <i [class]="issue.icon" class="mr-1"></i>
                            {{issue.key}}: {{issue.title}}
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>

            <div class="form-group">
                <label>Comments</label>
                <textarea class="form-control form-control-sm" [(ngModel)]="record.comment" rows="6"></textarea>
            </div>
        </div>

    </div>

    <div class="pane-footer">
        <app-button-panel [canSave]="canSave()" (save)="onSave()" (close)="onClose()" (reset)="onReset()"></app-button-panel>
    </div>
</div>