<div class="pane">
    <div class="pane-header" *ngIf="issue">
        <h4>Link issue</h4>
    </div>

    <div class="pane-body">
        <div class="container pt-3" *ngIf="issue">
            <div class="alert bg-light mb-3">
                {{issue.key}}: {{issue.title}}
            </div>

            <div class="form-group">
                <label>Search issue to link:</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="record.inwardIssue">
                    <div class="input-group-append">
                        <button class="btn btn-default">
                            <fa-icon icon="search"></fa-icon> Search
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Link type:</label>
                <select *ngIf="issueLinkTypes" style="max-width: 200pt;" class="form-control form-control-sm"
                    [(ngModel)]="record.linktype">
                    <ng-container *ngFor="let lt of issueLinkTypes">
                        <option [value]="lt.inward">{{lt.inward}}</option>
                        <option [value]="lt.outward">{{lt.outward}}</option>
                    </ng-container>
                </select>
            </div>

            <div class="form-group">
                <label>Comments</label>
                <textarea class="form-control form-control-sm" [(ngModel)]="record.comment" rows="6"></textarea>
            </div>
        </div>

    </div>

    <div class="pane-footer">
        <app-button-panel (save)="onSave()" (close)="onClose()" (reset)="onReset()"></app-button-panel>
    </div>
</div>