<p-treeTable *ngIf="roadmapItems && metadata" [columns]="metadata.timespan" class="roadmap"
    [frozenColumns]="metadata.fixedColumns" [scrollable]="true" frozenWidth="400px"
    [scrollHeight]="contentHeight + 'px'" [value]="roadmapItems" [resizableColumns]="true" columnResizeMode="expand"
    (onNodeExpand)="onNodeExpand($event)" [lazy]="true">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:100px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.title}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode" class="border-right" [ngClass]="{'bg-light border-bottom': rowData.isHeading}">
            <td [title]="rowData.title">
                <div class="text-truncate">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <i class="{{rowData.icon}} text-muted"></i>
                    <a [routerLink]="['/browse', rowData.key]" [ngClass]="{'issue-resolved': rowData.resolution}"
                        class="ml-1">{{rowData.key}}</a>
                    <span class="ml-1">{{rowData.label}}</span>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData="rowData" let-columns="columns">
        <tr class="treetable-data" [ngClass]="{'bg-light border-bottom': rowData.isHeading}" [title]="rowData.title">
            <td *ngFor="let col of columns">
                <div class="timeline-height {{getTimelineTypeClass(rowData.timespan, col.idx)}}">
                    &nbsp;
                </div>
            </td>
        </tr>
    </ng-template>
</p-treeTable>