<div style="overflow: auto;" *ngIf="statistics">
    <div class="alert bg-light" *ngIf="extendedStats.length > 0">
        <span *ngFor="let ex of extendedStats" class="mr-3">
            {{ex.title}} <span class="badge badge-warning">{{ex.value}}</span>
        </span>
    </div>
    <div class="row">
        <div class="col-md-6" *ngIf="statusChartData && statusChartLabels">
            <h5 class=" border-bottom pb-2">Status</h5>
            <canvas baseChart [data]="statusChartData" [options]="chartOptions" [labels]="statusChartLabels"
                chartType="doughnut"></canvas>
        </div>
        <div class="col-md-6" *ngIf="issueTypeChartData && issueTypeChartLabels">
            <h5 class=" border-bottom pb-2">Issuetypes</h5>
            <canvas baseChart [data]="issueTypeChartData" [options]="chartOptions" [labels]="issueTypeChartLabels"
                chartType="doughnut"></canvas>
        </div>
    </div>

    <div *ngIf="componentChartData && componentChartLabels">
        <h5 class="mt-3 border-bottom pb-2">Components</h5>
        <canvas baseChart [data]="componentChartData" [options]="chartOptions" [labels]="componentChartLabels"
            chartType="doughnut"></canvas>
    </div>
</div>