<div class="storyboard" *ngIf="storyboardItem && storyboardItem.metadata && storyboardItem.children && storyboardItem.children.length > 0">

    <div class="zoom-slider">
        <p-slider [(ngModel)]="zoom" [min]="50" [max]="100" [step]="10"></p-slider>
    </div>

    <div [style.zoom]="(zoom/100)" class="pb-4">
        <table class="table table-bordered mr-3">
            <thead>
                <tr class="bg-light">
                    <th style="width: 100px;">
                        <button class="btn btn-link text-dark p-0" style="white-space: nowrap;"
                            (click)="expandCollapseAll()">
                            <fa-icon [icon]="expandedAll ? 'angle-double-down' : 'angle-double-right'"
                                class="text-muted">
                            </fa-icon>
                            <!-- Total: <span class="badge badge-white"
                            *ngIf="storyboardItem.count > 0">{{storyboardItem.count}}</span> -->
                        </button>
                    </th>
                    <th *ngFor="let c of storyboardItem.metadata.components"
                        [ngClass]="{'bg-light-warning': c.title === 'No component'}">
                        {{c.title}}
                        <span class="badge badge-white" *ngIf="c.count > 0">{{c.count}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fv of storyboardItem.metadata.fixVersions">
                    <td class="bg-light">
                        <button class="btn btn-link text-dark p-0" style="white-space: nowrap;"
                            (click)="fv.expanded = !fv.expanded">
                            <fa-icon [icon]="fv.expanded ? 'angle-down' : 'angle-right'" class="text-muted"></fa-icon>
                            {{fv.title}}
                            <span class="badge badge-white" *ngIf="fv.count > 0">{{fv.count}}</span>
                        </button>
                    </td>
                    <td *ngFor="let c of storyboardItem.metadata.components" style="min-width: 250px; max-width:550px"
                        [ngClass]="{'bg-light-warning': c.title === 'No component'}">
                        <div *ngIf="fv.expanded">
                            <div class="custom-shadow small p-2 mb-3 mr-2 bg-white float-left"
                                [ngClass]="{'linked-issue': item.linkType && item.linkType.length> 0}"
                                style="width:250px" *ngFor="let item of getItems(fv, c)">
                                <div class="mb-1">
                                    <div class="float-right">
                                        <app-issue-navigation-menu [parentIssueKey]="storyboardItem.key"
                                            [issueKey]="item.key">
                                            <div
                                                *ngIf="projects && projects.length > 0 && item.project && item.project.key  && item.project.key.length > 0">
                                                <div class="small p-1 bg-light text-dark mt-2">
                                                    <fa-icon icon="edit" size="fw" class="text-muted mr-"></fa-icon>
                                                    UPDATE
                                                </div>
                                                <button ngbDropdownItem (click)="editTitle(item)">
                                                    Title
                                                </button>
                                                <button ngbDropdownItem (click)="editFixversions(item)">
                                                    Release version
                                                </button>
                                            </div>
                                        </app-issue-navigation-menu>
                                    </div>

                                    <div class="float-right text-muted small text-uppercase pt-1">{{item.status}}</div>
                                    <a class="small text-uppercase" title="View purpose"
                                        [routerLink]="['/browse', item.key, 'purpose', item.key]"
                                        [ngClass]="{'issue-resolved': item.resolution}">
                                        {{item.issueType}}: {{item.key}}
                                    </a>
                                </div>
                                <div *ngIf="!item.editTitle">{{item.title}}</div>
                                <div class="mt-3 border bg-light rounded" *ngIf="item.editTitle">
                                    <div class="p-2">
                                        <button class="btn btn-link btn-sm text-dark float-right pt-0 pr-0"
                                            (click)="cancelEditTitle(item)">
                                            <fa-icon icon="times" [fixedWidth]="true" class="text-dark"></fa-icon>
                                        </button>
                                        <b>Title</b>
                                    </div>

                                    <div class="pl-2 pr-2 pb-2">
                                        <textarea rows="3" class="form-control form-control-sm"
                                            [appAutofocus]="item.editTitle" (keydown.escape)="cancelEditTitle(item)"
                                            (keydown.control.enter)="onTitleChanged(item)"
                                            [(ngModel)]="item.title"></textarea>
                                        <div class="text-right mt-1">
                                            <button class="btn btn-sm btn-default" (click)="onTitleChanged(item)">
                                                <fa-icon icon="check" class="text-primary"></fa-icon> Done
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <sub class="text-uppercase text-muted">{{item.linkType}}</sub>
                                </div>

                                <div class="mt-3 border bg-light rounded"
                                    *ngIf="item.isEditingFixversions && item.project && item.project.metadata && item.project.metadata.versions">
                                    <app-multilist-selector [lookupList]="item.project.metadata.versions"
                                        [(list)]="item.updated.fixVersions" [selectOnChange]="true" [formMode]="true"
                                        fieldTitle="Release version"
                                        (fieldValueChange)="onfixVersionsChanged($event, item)">
                                    </app-multilist-selector>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>