<div *ngIf="storyboardItem && storyboardItem.metadata && storyboardItem.children && storyboardItem.children.length > 0">
    <table class="table table-bordered mr-3">
        <thead>
            <tr class="bg-light">
                <td style="width: 100px;">
                    <button class="btn btn-link text-dark p-0" style="white-space: nowrap;"
                        (click)="expandCollapseAll()">
                        <fa-icon [icon]="expandedAll ? 'angle-double-down' : 'angle-double-right'" class="text-muted">
                        </fa-icon>
                        <!-- Total: <span class="badge badge-white"
                            *ngIf="storyboardItem.count > 0">{{storyboardItem.count}}</span> -->
                    </button>
                </td>
                <td *ngFor="let c of storyboardItem.metadata.components"
                    [ngClass]="{'bg-light-warning': c.title === 'No component'}">
                    {{c.title}}
                    <span class="badge badge-white" *ngIf="c.count > 0">{{c.count}}</span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fv of storyboardItem.metadata.fixVersions">
                <td class="bg-light">
                    <button class="btn btn-link text-dark p-0" style="white-space: nowrap;"
                        (click)="fv.expanded = !fv.expanded">
                        <fa-icon [icon]="fv.expanded ? 'angle-down' : 'angle-right'" class="text-muted"></fa-icon>
                        {{fv.title}}
                        <span class="badge badge-white" *ngIf="fv.count > 0">{{fv.count}}</span>
                    </button>
                </td>
                <td *ngFor="let c of storyboardItem.metadata.components" style="min-width: 250px; max-width:550px"
                    [ngClass]="{'bg-light-warning': c.title === 'No component'}">
                    <div *ngIf="fv.expanded">
                        <div class="custom-shadow small p-2 mb-3 mr-2 bg-white float-left"
                            [ngClass]="{'linked-issue': item.linkType && item.linkType.length> 0}" style="width:250px"
                            *ngFor="let item of getItems(fv, c)">
                            <div class="mb-1">
                                <div class="float-right">
                                    <app-issue-navigation (issue)="item">
                                        <div *ngIf="projects && projects.length > 0 && item.project">
                                            <div class="small p-1 bg-light text-muted">CHANGE</div>
                                            <button ngbDropdownItem (click)="editFixversions(item)">
                                                <fa-icon icon="edit" size="fw" class="text-muted"></fa-icon>
                                                Release version
                                            </button>
                                        </div>
                                    </app-issue-navigation>
                                </div>

                                <div class="float-right text-muted small text-uppercase pt-1">{{item.status}}</div>
                                <a class="small text-uppercase" title="View purpose"
                                    [routerLink]="['/browse', item.key, 'purpose', item.key]">
                                    {{item.issueType}}: {{item.key}}
                                </a>
                            </div>
                            {{item.title}}
                            <div>
                                <sub class="text-uppercase text-muted">{{item.linkType}}</sub>
                            </div>

                            <app-fixversions-editor (changed)="onfixVersionChanged($event, item)" [issue]="item"
                                *ngIf="item.isEditingFixversions">
                            </app-fixversions-editor>

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>