<p-treeTable *ngIf="timelineItems && metadata" [columns]="metadata.timespan" class="timeline"
    [frozenColumns]="metadata.fixedColumns" [scrollable]="true" frozenWidth="500px" columnResizeMode="expand"
    [resizableColumns]="true" [scrollHeight]="contentHeight + 'px'" [value]="timelineItems"
    (onNodeExpand)="onNodeExpand($event)" [lazy]="true">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" width="90px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="frozencolgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" class="text-truncate" [title]="col.title">
                {{col.title}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode" [title]="rowData.title" class="border-right bg-light"
            [ngClass]="{'border-bottom': rowData.isHeading}">
            <td>
                <div class="text-truncate">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <i class="{{rowData.icon}} text-muted"></i>
                    <a [routerLink]="['/browse', rowData.key]" [ngClass]="{'issue-resolved': rowData.resolution}"
                        class="ml-1 small" *ngIf="!isCustomTypeNode(rowData)">{{rowData.key}}</a>
                </div>
            </td>
            <td class="text-truncate small" width="300px">
                {{rowData.label}}
            </td>
            <td width="40px">
                <a *ngIf="rowData.statistics" class="text-primary" (click)="onShowStatistics(rowData.statistics)">
                    <fa-icon icon="chart-bar" title="show statistics"></fa-icon>
                </a>
                <fa-icon icon="exclamation-circle" *ngIf="hasMiscInfo(rowData)"
                    [title]="getMiscInfo(rowData)" size="sm"
                    [ngClass]="{'text-muted': rowData.missingDuedate, 'text-warning': rowData.duedatePassed}"></fa-icon>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData="rowData" let-columns="columns">
        <tr class="treetable-data" [ngClass]="{'bg-light border-bottom': rowData.isHeading}" [title]="rowData.title">
            <td *ngFor="let col of columns">
                <div class="timeline-height {{getTimelineTypeClass(rowData, col.idx)}}">
                    &nbsp;
                </div>
            </td>
        </tr>
    </ng-template>
</p-treeTable>

<p-dialog [header]="statistics.title" *ngIf="statistics" [(visible)]="showStatistics" [dismissableMask]="true"
    [modal]=true styleClass="custom-dialog bg-light">
    <app-statistics [groupByColumn]="groupByColumn" [statistics]="statistics"></app-statistics>
</p-dialog>