<div class="main-container">
    <as-split direction="horizontal" (gutterDblClick)="toggleFullscreen()" (dragEnd)="dragEnd($event)">
        <as-split-area [size]="columns[0].size">
            <div *ngIf="leftPaneSize > 0">
                <div class="sticky-title p-2">
                    <app-issue-entry [hideIssuelistNavigator]="false" (showIssuelist)="onShowIssuelist()">
                    </app-issue-entry>
                </div>

                <div *ngIf="rootNode" class="pb-5">
                    <p-contextMenu #cm [model]="menulist" appendTo="body"></p-contextMenu>
                    <p-tree [value]="[rootNode]" selectionMode="single" [(selection)]="selectedNode"
                        (onNodeSelect)="nodeSelected($event)">

                        <!-- [contextMenu]="cm" (onNodeContextMenuSelect)="nodeContextMenuSelect($event.node)" -->

                        <ng-template let-node pTemplate="default">
                            <div style="font-size: 90%;" [ngClass]="{
                                        'small text-muted text-uppercase font-italic': checkIfCustomNode(node),
                                        'font-weight-bold': node.key === issueKey
                                }" [title]="getIssueTitle(node)">
                                {{node.label}}</div>
                        </ng-template>
                        <ng-template let-node pTemplate="Heading">
                            <div [title]="getHeaderTitle(node)">
                                {{node.label}}
                            </div>
                        </ng-template>
                        <ng-template let-node pTemplate="Editable">
                            <i class="editable-node">
                                {{node.label}}
                                <fa-icon size="sm" class="text-muted ml-1" icon="pencil-alt" *ngIf="node.editable">
                                </fa-icon>
                            </i>
                        </ng-template>
                        <ng-template let-node pTemplate="Editing">
                            <div class="input-group input-group-sm" style="width:200px">
                                <input type="text" class="form-control" [appAutofocus]="node.type === 'Editing'"
                                    [(ngModel)]="node.title" (keydown.enter)="updateNodeTitleOnEnter($event, node)"
                                    (keydown.escape)="cancelNodeEditingOnEscape($event, node)">
                                <div class="input-group-append">
                                    <button class="btn btn-link border" [disabled]="!canUpdateTitle(node)"
                                        (click)="updateNodeTitle(node)">
                                        <fa-icon icon="check"></fa-icon>
                                    </button>
                                    <button class="btn btn-link text-danger border" (click)="cancelNodeEditing(node)">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </p-tree>
                </div>
            </div>
        </as-split-area>

        <as-split-area [size]="columns[1].size">
            <button class="btn btn-sm btn-link text-muted float-right" title="expand/collapse pane"
                (click)="toggleFullscreen()">
                <fa-icon [icon]="columns[0].size === 0 ? 'compress-arrows-alt' : 'expand-arrows-alt'"
                    [fixedWidth]="true"></fa-icon>
            </button>

            <router-outlet></router-outlet>
        </as-split-area>
    </as-split>
</div>