<div class="row">
    <div class="col-md-10">
        <div *ngIf="purpose && purpose.length > 0" [ngClass]="{'small': fontSizeSmall}">
            <div class="border-0 pb-0 mb-2 float-left">
                <a (click)="showHideAllPurposes(!showAll)" class="btn btn-light btn-sm text-muted mr-2 "
                    title="Show/hide details">
                    <fa-icon size="fw" [icon]="showAll ? 'angle-double-down' : 'angle-double-right'">
                    </fa-icon>
                </a>
            </div>

            <div [ngClass]="{'float-left': !item.show}" *ngFor="let item of purpose">
                <div class="clearfix"></div>
                <div class="text-uppercase text-muted">
                    <a (click)="item.show = !item.show" class="btn btn-light btn-sm text-muted mr-2"
                        title="Show/hide details">
                        <fa-icon size="fw" [icon]="item.show ? 'chevron-down' : 'chevron-right'"></fa-icon>
                        <span class="small">{{item.issueType}} purpose</span>
                    </a>
                </div>

                <div *ngIf="item.show" class="ml-3 pl-3 pr-3 border-left" style="overflow:auto">
                    <h5 class=" text-dark font-weight-normal mt-1">
                        {{item.title}}
                    </h5>

                    <ngx-md [data]="item.purpose"> </ngx-md>
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>
            <a class="btn btn-light btn-sm text-primary" routerLink="../workbench">
                Proceed to workbench
                <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </a>
            <!-- <div class="ml-4 mr-5"
            *ngIf="selectedItem && selectedItem.extendedFields && selectedItem.extendedFields.length > 0">
            <button class="btn btn-sm btn-light text-muted" (click)="hideExtendedFields = !hideExtendedFields">
                <fa-icon [icon]="hideExtendedFields ? 'chevron-right' : 'chevron-down'" size="sm"></fa-icon>
                <span class="small">DETAILS</span>
            </button>
            <div [ngbCollapse]="hideExtendedFields" class="ml-3 border-left">
                <app-extended-fields [issue]="selectedItem"></app-extended-fields>
            </div>
        </div> -->
        </div>
    </div>
    <div class="col-md-2">
        <div class="sticky-title text-right">
            <button class="btn btn-light btn-sm mr-2" [disabled]="fontSizeSmall"
                (click)="fontSizeSmall = true">A</button>
            <button class="btn btn-light" [disabled]="!fontSizeSmall" (click)="fontSizeSmall = false">A</button>
        </div>
    </div>
</div>