<div *ngIf="issue">
    <div class="alert bg-light pl-0 mb-0" style="font-size:medium;" *ngIf="showIssue">

        <app-issue-navigation class="float-right" [issueKey]="issue.key"></app-issue-navigation>

        <button class="btn btn-sm btn-link mr-2" (click)="onClose()">
            <fa-icon icon="chevron-left" size="lg"></fa-icon>
        </button>
        <span class="pt-2">
            <span class="mr-1">{{issue.key}}:</span>
            {{issue.title}}</span>
    </div>

    <div *ngIf="filteredItems && filteredItems.length > 0">

        <div class="list-group list-group-flush list-group-flush-compact">
            <div class="list-group-item list-group-item-light">
                <div class="clearfix">
                    <button *ngIf="hasExtendedFields" (click)="showHideExtendedFields()"
                        class="btn btn-sm btn-link text-muted pl-0" title="Show/hide details">
                        <fa-icon size="sm" [fixedWidth]="true"
                            [icon]="hideExtendedFields ? 'angle-double-right' : 'angle-double-down'">
                        </fa-icon>
                    </button>

                    <b class="mt-1"><span class="mr-1" *ngIf="filteredItems.length > 0">
                            {{filteredItems.length}} </span>
                        record{{(filteredItems.length > 1 ? 's' : '')}}</b>

                    <button (click)="tasklistFilterVisible = !tasklistFilterVisible"
                        *ngIf="((issueTypeStats && issueTypeStats.length > 1) || statusStats && statusStats.length > 1)"
                        class="btn btn-link btn-sm float-right" title="Filters">
                        <fa-icon size="sm" [icon]="tasklistFilterVisible ? 'chevron-up' : 'filter'"></fa-icon>
                    </button>
                </div>
                <div class="row ml-3" [ngbCollapse]="!tasklistFilterVisible">
                    <div class="col-md-6" *ngIf="issueTypeStats && issueTypeStats.length > 1">
                        <select class="form-control form-control-sm" [(ngModel)]="issueTypeFilter"
                            (change)="onFilterChanged()">
                            <option value="all">ISSUE TYPE: All</option>
                            <option *ngFor="let it of issueTypeStats" [value]="it.key">
                                {{it.key + '  (' + it.count + ')'}}</option>
                        </select>
                    </div>
                    <div class="col-md-6" *ngIf="statusStats && statusStats.length > 1">
                        <select class="form-control form-control-sm" [(ngModel)]="statusFilter"
                            (change)="onFilterChanged()">
                            <option value="all">STATUS: All</option>
                            <option *ngFor="let status of statusStats" [value]="status.key">
                                {{status.key + '  (' + status.count + ')'}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="list-group-item" *ngFor="let record of filteredItems">
                <button *ngIf="hasExtendedFields" (click)="record.hideExtendedFields = !record.hideExtendedFields"
                    class="btn btn-link btn-sm text-muted pl-0 pt-0" title="Show/hide details">
                    <fa-icon size="sm" [fixedWidth]="true"
                        [icon]="record.hideExtendedFields ? 'angle-right' : 'angle-down'">
                    </fa-icon>
                </button>
                <small class="float-right badge badge-light font-weight-light text-uppercase">{{record.status}}</small>
                <small class="text-muted">
                    <span class="text-uppercase">{{record.issueType}}</span>
                    :{{record.key}}
                </small>

                <div [ngClass]="{'ml-4': hasExtendedFields}">
                    <div>{{record.title}}</div>
                    <div style="overflow: auto;" class="alert mt-2 p-0 rounded-0 border-0"
                        *ngIf="!record.hideExtendedFields && record.extendedFields && record.extendedFields.length > 0">
                        <table class="table table-small m-0 border-0 bg-light extended-fields">
                            <tr *ngFor="let ef of record.extendedFields">
                                <td class="p-1 text-nowrap text-muted" width="10%">{{ef.name}}:</td>
                                <td class="p-1 text-dark" Markdown>
                                    {{ef.value}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning mt-2" *ngIf="filteredItems && filteredItems.length === 0">
        No detail records found.
    </div>
</div>