<nav class="navbar navbar-expand-md bg-white">
  <div class="container-fluid p-0">
    <a class=" text-muted h4 font-weight-light" routerLink="/about">
      <fa-icon icon="sitemap" size="sm" style="color: #FF8000;"></fa-icon> <b class="ml-2 text-dark">Purpose</b>
    </a>
    <ui-switch [title]="isOnlineMode ? 'Online mode': 'Offline mode'" class="nav-link" [(ngModel)]="isOnlineMode"
      (change)="onModeChange($event)" size="small" *ngIf="allowOfflineMode">
    </ui-switch>

    <ul class="navbar-nav ml-sm-auto">
      <li class="navbar-text text-muted ml-2"
        *ngIf="connectionDetails && connectionDetails.displayName && connectionDetails.displayName.length > 0">
        <fa-icon icon="user" size="fw" class="mr-1"></fa-icon>
        {{connectionDetails.displayName}}
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link text-muted ml-2" (click)="signIn()">
          <fa-icon [icon]="['fab', 'google-drive']" size="fw"></fa-icon>
          <span class="d-inline d-sm-none"> Google drive</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link text-muted ml-2" (click)="openConnectionDetailEditor()">
          <fa-icon [icon]="['far', 'sun']" size="fw"></fa-icon>
          <span class="d-inline d-sm-none"> Connection details</span>
        </a>

        <!-- <a class="nav-link text-muted ml-2" #connectionDetailPopover="ngbPopover" triggers="manual"
          (click)="openConnectionDetailEditor()" [autoClose]="false" [ngbPopover]="connectDetailsPopover"
          popoverTitle="Connection details">
          <fa-icon [icon]="['far', 'sun']" size="fw"></fa-icon>
          <span class="d-inline d-sm-none"> Connection details</span>
        </a> -->
      </li>

      <li class="nav-item">
        <app-copyright></app-copyright>
      </li>
    </ul>
  </div>

</nav>

<p-dialog header="Connection details" position="topright" class="bg-light" [(visible)]="showConnectionEditor"
  (onHide)="connectionDetailsSetupCompleted(false)">
  <app-connection-details [connectionDetails]="connectionDetails" (close)="connectionDetailsSetupCompleted($event)">
  </app-connection-details>
</p-dialog>

<!-- <ng-template #connectDetailsPopover>
  <app-connection-details [connectionDetails]="connectionDetails" (close)="connectionDetailsSetupCompleted($event)">
  </app-connection-details>
</ng-template> -->

<ngx-loading-bar color="#FF8000" height="4pt" [includeSpinner]="false"></ngx-loading-bar>

<p-toast position="bottom-right"></p-toast>

<router-outlet> </router-outlet>