<app-header [connectionDetails]="connectionDetails" [isOnlineMode]="isOnlineMode" (modeChanged)="onModeChanged($event)">
</app-header>
<p-dialog header="Connection details" position="topright" class="bg-light" [(visible)]="showConnectionEditor"
  (onHide)="connectionDetailsSetupCompleted()">
  <app-connection-details [connectionDetails]="connectionDetails" (close)="connectionDetailsSetupCompleted()">
  </app-connection-details>
</p-dialog>

<ngx-loading-bar color="#FF8000" height="4pt" [includeSpinner]="false"></ngx-loading-bar>

<p-toast position="bottom-right"></p-toast>

<router-outlet> </router-outlet>