<!-- <app-recently-viewed></app-recently-viewed> -->
<div class="main-container">
    <div class="body-container">
        <as-split direction="horizontal">
            <as-split-area size="25" class="bg-light border-right">
                <app-issue-entry [showRecentlyVisited]="true"></app-issue-entry>
                <div *ngIf="treeNodes">
                    <p-contextMenu #cm [model]="menulist" appendTo="body"></p-contextMenu>
                    <p-tree [value]="treeNodes" selectionMode="single" (onNodeExpand)="loadNode($event)"
                        [(selection)]="selectedNode" (onNodeSelect)="nodeSelected($event)" [contextMenu]="cm"
                        (onNodeContextMenuSelect)="nodeContextMenuSelect($event.node, cm)">
                        <ng-template let-node pTemplate="default">
                            <div class="mt-1" [title]="node.title">{{node.label}}</div>
                        </ng-template>
                    </p-tree>
                </div>
            </as-split-area>

            <as-split-area size="75" class="split-area">
                <div class="sticky-title pl-3 pr-3 pt-2 pb-3" *ngIf="selectedIssue">
                    <div class="btn-group float-right">
                        <button (click)="configureFields(selectedIssue.issueType)" class="btn btn-link text-muted"
                            title="Configure custom fields">
                            <fa-icon [icon]="['far','sun']"></fa-icon>
                        </button>
                        <a *ngIf="connectionDetails" class="btn btn-link text-muted" target="_blank"
                            href="{{connectionDetails.serverUrl}}/browse/{{selectedIssue.key}}"
                            title="Navigate to jira">
                            <fa-icon [icon]="['fab','jira']"></fa-icon>
                        </a>
                    </div>
                    <h3 class="font-weight-light">
                        {{selectedIssue.title}}
                    </h3>

                    <div>
                        <a class="btn btn-sm btn-default mr-1" [routerLink]="['purpose']" title="View purpose"
                            [routerLinkActive]="'active'" (click)="expandPurpose(loadedIssue)">
                            <fa-icon icon="binoculars"></fa-icon> Purpose
                        </a>
                        <a class="btn btn-sm btn-default mr-1" *ngIf="hasExtendedFields" routerLink="details"
                            [routerLinkActive]="'active'">
                            <fa-icon icon="tasks"></fa-icon> Details
                        </a>
                        <a class="btn btn-sm btn-default mr-1" *ngIf="canTrackProgress(selectedIssue)"
                            routerLink="items" [routerLinkActive]="'active'">
                            <fa-icon icon="tasks"></fa-icon> Items
                        </a>
                    </div>
                </div>
                <div class="pl-3 pr-3 pb-4 pt-1">
                    <router-outlet></router-outlet>
                    <app-copyright></app-copyright>
                </div>
            </as-split-area>
        </as-split>
    </div>
</div>
<p-sidebar [(visible)]="showDetails" styleClass="ui-sidebar-lg" position="right">
    <app-sub-items [issue]="selectedIssue"></app-sub-items>
</p-sidebar>