<!-- <app-recently-viewed></app-recently-viewed> -->
<div class="main-container">
    <div class="body-container">
        <as-split direction="horizontal">
            <as-split-area size="30" class="bg-light border-right">
                <div class="sticky-title">
                    <app-issue-entry [showRecentlyVisited]="true"></app-issue-entry>
                </div>
                <div *ngIf="treeNodes" class="pb-5">
                    <p-contextMenu #cm [model]="menulist" appendTo="body"></p-contextMenu>
                    <p-tree [value]="treeNodes" selectionMode="single" (onNodeExpand)="loadNode($event)"
                        [(selection)]="selectedNode" (onNodeSelect)="nodeSelected($event)" [contextMenu]="cm"
                        (onNodeContextMenuSelect)="nodeContextMenuSelect($event.node, cm)">
                        <ng-template let-node pTemplate="default">
                            <div class="mt-1" [ngClass]="{'font-italic text-muted': checkIfCustomNode(node)}"
                                [title]="getPrintableTitle(node)">{{node.label}}</div>
                        </ng-template>
                        <ng-template let-node pTemplate="Heading">
                            <h6 class="m-0">{{node.label}}</h6>
                        </ng-template>
                    </p-tree>
                </div>

                <app-copyright></app-copyright>

            </as-split-area>

            <as-split-area size="70" class="split-area">
                <div class="sticky-title pl-3 pr-3 pt-2 pb-2" *ngIf="selectedIssue">
                    <div class="btn-group float-right">
                        <a *ngIf="connectionDetails" class="btn btn-link text-muted" target="_blank"
                            href="{{connectionDetails.serverUrl}}/browse/{{selectedIssue.key}}"
                            title="Navigate to jira">
                            <fa-icon [icon]="['fab','jira']"></fa-icon>
                        </a>
                    </div>
                    <span class="small">{{selectedIssue.key}}</span>
                    <h3 class="font-weight-light">

                        {{selectedIssue.title}}
                    </h3>

                    <div class="pb-2 border-bottom">
                        <a class="btn btn-sm btn-default mr-1" [routerLink]="['purpose']" queryParamsHandling="merge"
                            title="View purpose" [routerLinkActive]="'active'">
                            <fa-icon icon="binoculars" class="text-muted"></fa-icon> Purpose
                        </a>
                        <a class="btn btn-sm btn-default mr-1" *ngIf="hasExtendedFields" routerLink="details"
                            queryParamsHandling="merge" [routerLinkActive]="'active'">
                            <fa-icon icon="search-plus" class="text-muted"></fa-icon> Details
                        </a>
                        <a class="btn btn-sm btn-default mr-1" *ngIf="canTrackProgress(selectedIssue)"
                            routerLink="items" queryParamsHandling="merge" [routerLinkActive]="'active'">
                            <fa-icon icon="tasks" class="text-muted"></fa-icon> Items
                        </a>
                    </div>
                </div>

                <div class="pl-3 pr-3 pb-4 pt-1">
                    <router-outlet></router-outlet>
                </div>
            </as-split-area>
        </as-split>
    </div>
</div>

<!-- <p-sidebar [(visible)]="showDetails" styleClass="ui-sidebar-lg" position="right">
    <app-sub-items [project]="currentProject" [issue]="selectedIssue"></app-sub-items>
</p-sidebar> -->

<p-sidebar [(visible)]="showProjectConfigSetup" styleClass="ui-sidebar-md" position="right">
    <app-project-config [project]="currentProject" (close)="projectConfigSetupCompleted($event)">
    </app-project-config>
</p-sidebar>