<div ngbDropdown display="dynamic" placement="bottom-right" *ngIf="issues && issues.length > 1">
    <button class="btn btn-light border hide-caret rounded-0" id="dropdownBasic1" ngbDropdownToggle
        title="recently viewed">
        <fa-icon icon="ellipsis-v" size="fw"></fa-icon>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
        <a ngbDropdownItem *ngFor="let issueKey of issues;let idx = index;" [routerLink]="['/for', issueKey.key]"
            [disabled]="issueKey.active" [ngClass]="{'text-primary': !issueKey.active, 'bg-light': issueKey.active}"
            [title]="issueKey.title">
            <fa-icon *ngIf="issueKey.active" icon="chevron-right"></fa-icon>
            {{issueKey.key}}
        </a>
    </div>
</div>