<div class="pt-0 pr-3 pb-2 pl-3">
    <div class="sticky-title pb-3" *ngIf="selectedItem">
        <div class="border-bottom ">
            <div>
                <div class="float-right small" *ngIf="selectedItem.fixVersions && selectedItem.fixVersions.length > 0">
                    <span class="small text-muted">FIX VERSION: </span>
                    <span class="badge badge-light ml-1" *ngFor="let fv of selectedItem.fixVersions">{{fv}}</span>
                </div>
                <sub class="text-uppercase mr-2">{{selectedItem.issueType}}: {{selectedItem.key}}</sub>
                <sub class="badge badge-light small text-muted text-uppercase font-weight-normal">
                    {{selectedItem.status}}
                </sub>
            </div>
            <h2 class="font-weight-light mb-0">
                {{selectedItem.title}}
            </h2>
            <div class="pb-2">
                <div class="row">
                    <div class="col-md-8">
                        <a class="btn btn-link mr-1 pl-0" [routerLink]="['details']" title="View purpose"
                            [routerLinkActive]="'active'">
                            <fa-icon [icon]="['far', 'lightbulb']" size="sm"></fa-icon> Purpose
                        </a>

                        <a class="btn btn-link mr-1" routerLink="workbench" [routerLinkActive]="'active'">
                            <fa-icon [icon]="['far','window-restore']" size="sm"></fa-icon> Workbench
                        </a>

                        <div class="btn-group mr-1" *ngIf="canNavigateToStoryboard()">
                            <a class="btn btn-link pr-0" [routerLink]="['../../storyboard',selectedItem.key, 'details']"
                                [routerLinkActive]="'active'">
                                <fa-icon icon="map" size="sm"></fa-icon> Storyboard
                            </a>
                            <div ngbDropdown display="dynamic" placement="bottom-right">
                                <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle
                                    title="story list"></button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                                    <a ngbDropdownItem [routerLink]="['../../storyboard',selectedItem.key, 'list']"
                                        [routerLinkActive]="'active'">
                                        <fa-icon [icon]="['far', 'copy']" size="sm"></fa-icon> Story list
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <pre>{{selectedItem | json}}</pre> -->

    <div>
        <router-outlet></router-outlet>
    </div>
</div>