<div *ngIf="purpose && purpose.length > 0">
    <div class="mb-2">
        <a (click)="showHideAllPurposes()" class="btn btn-light btn-sm text-muted mr-2" title="Show/hide details">
            <fa-icon size="fw" [icon]="showAll ? 'angle-double-down' : 'angle-double-right'">
            </fa-icon>
        </a>
        <button class="btn btn-link btn-light text-muted btn-sm" *ngIf="!organizationPurpose"
            (click)="showOrganizationSetup = true">
            <fa-icon icon="plus" class="font-weight-light"></fa-icon> add organization purpose
        </button>
    </div>

    <div class="border-0 pb-0 " [ngClass]="{'float-left': !item.show, 'clearfix mt-5': item.show}"
        *ngFor="let item of purpose">
        <span class="text-uppercase text-muted ">
            <a (click)="item.show = !item.show" class="btn btn-link btn-sm text-muted mr-2 pb-0"
                title="Show/hide details">
                <fa-icon size="fw" [icon]="item.show ? 'chevron-down' : 'chevron-right'"></fa-icon>
            </a>
            <span class="small text-dark">{{item.issueType}} purpose</span>
        </span>

        <div *ngIf="item.show" class="ml-5 hover-container alert bg-light" style="overflow:auto"
            [ngClass]="{'readonly': !item.editable}">
            <h5 class=" text-dark font-weight-normal">{{item.title}}
                <a class="small text-muted ml-2 hover-button" *ngIf="item.editable" (click)="onEdit(item)">
                    <fa-icon icon="pencil-alt" size="sm"></fa-icon>
                </a>
            </h5>
            <ngx-md class="mb-2">
                {{item.purpose}}
            </ngx-md>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="showOrganizationSetup" styleClass="ui-sidebar-md" position="right">
    <app-organization (close)="setupCompleted($event)"></app-organization>
</p-sidebar>

<p-sidebar [(visible)]="showHierarchyFieldSetup" styleClass="ui-sidebar-md" position="right">
    <app-hierarchy-field [hierarchyField]="hierarchyFieldPurpose" (close)="setupCompleted($event)">
    </app-hierarchy-field>
</p-sidebar>