<div #content [style.height.px]="contentHeight">
    <as-split direction="horizontal" *ngIf="issue" (gutterDblClick)="toggleFullscreen()" (dragEnd)="dragEnd($event)">
        <as-split-area [size]="columns[0].size" class="pr-3">
            <app-extended-fields [issue]="issue" *ngIf="leftPaneSize > 0"></app-extended-fields>
        </as-split-area>
        <as-split-area [size]="columns[1].size" class="small">
            <button class="btn btn-sm btn-link text-muted float-right" title="expand/collapse pane"
                (click)="toggleFullscreen()" [ngClass]="{'mr-3': columns[0].size === 0}">
                <fa-icon [icon]="columns[0].size === 0 ? 'compress-arrows-alt' : 'expand-arrows-alt'"
                    [fixedWidth]="true"></fa-icon>
            </button>
            <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="selectedTab" [destroyOnHide]="false">
                <li [ngbNavItem]="1" *ngIf="issue.issueType === localNodeType.Epic">
                    <a ngbNavLink (click)="toggleAllEpicChildren()">
                        <fa-icon [icon]="allEpicChildrenVisible ? 'angle-double-down' : 'angle-double-right'" size="sm"
                            [fixedWidth]="true">
                        </fa-icon>
                        Issues in this epic
                    </a>
                    <ng-template ngbNavContent>
                        <div class="pl-2 pr-3 pb-2">
                            <div class="alert alert-warning"
                                *ngIf="groupedEpicChildren && groupedEpicChildren.length === 0">
                                There are no issues in this epic
                            </div>

                            <div *ngIf="groupedEpicChildren && groupedEpicChildren.length > 0">
                                <div *ngIf="!selectedEpicIssue">
                                    <div *ngFor="let child of groupedEpicChildren">
                                        <div class="text-muted text-uppercase mt-1 mb-1">
                                            <button class="btn btn-sm btn-link text-left text-dark"
                                                [ngClass]="{'w-100 btn-light ': child.visible}"
                                                (click)="child.visible = !child.visible">
                                                <fa-icon [icon]="child.visible ? 'angle-down' : 'angle-right'" size="sm"
                                                    [fixedWidth]="true"></fa-icon>
                                                <span class="ml-2">{{child.label}} / {{child.total}}</span>
                                            </button>
                                        </div>
                                        <div *ngIf="child.visible" class="mb-4">
                                            <div class="ml-3 p-1 border-bottom" *ngFor="let i of child.children">
                                                <div
                                                    class="badge badge-light font-weight-normal text-uppercase float-right mt-1">
                                                    {{i.duedate}}
                                                </div>
                                                <i [class]="i.icon" class="mr-1"></i>
                                                <a (click)="selectEpicIssue(i)" class="text-primary mr-2">{{i.key}}</a>
                                                {{i.title}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="selectedEpicIssue">
                                    <app-task-list [issue]="selectedEpicIssue" [showIssue]="true"
                                        (close)="resetSelectedEpicIssue()"></app-task-list>
                                </div>

                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="2" *ngIf="issue.hasRelatedLinks">
                    <a ngbNavLink (click)="toggleAllRelatedIssues()">
                        <fa-icon [icon]="allRelatedIssuesVisible ? 'angle-double-down' : 'angle-double-right'" size="sm"
                            [fixedWidth]="true">
                        </fa-icon>
                        Related
                    </a>
                    <ng-template ngbNavContent>
                        <div class="pl-3 pr-3 pb-3">
                            <div *ngIf="!selectedRelatedIssue">
                                <div *ngFor="let child of issue.children">
                                    <ng-container *ngIf="child.issueType !== localNodeType.EpicChildren">
                                        <div class="text-muted text-uppercase mt-1 mb-1">
                                            <button class="btn btn-sm btn-link text-left text-dark"
                                                [ngClass]="{'w-100 btn-light ': child.visible}"
                                                (click)="child.visible = !child.visible">
                                                <fa-icon [icon]="child.visible ? 'angle-down' : 'angle-right'" size="sm"
                                                    [fixedWidth]="true"></fa-icon>
                                                <span class="ml-2">{{child.label}}
                                                    <span *ngIf="child.children"> / {{child.children.length}}</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div *ngIf="child.visible" class="mb-4">
                                            <div class="ml-3 p-1 border-bottom" [title]="i.issueType"
                                                *ngFor="let i of child.children">
                                                <div
                                                    class="badge badge-light font-weight-normal text-uppercase float-right mt-1">
                                                    {{i.status}}
                                                </div>
                                                <i [class]="i.icon" class="mr-1"></i>
                                                <a (click)="selectRelatedIssue(i)"
                                                    class="text-primary mr-2">{{i.key}}</a>
                                                {{i.title}}
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div *ngIf="selectedRelatedIssue">
                                <app-task-list [issue]="selectedRelatedIssue" (close)="resetSelectedRelatedIssue()"
                                    [showIssue]="true"></app-task-list>
                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="3">
                    <a ngbNavLink>Sub tasks</a>
                    <ng-template ngbNavContent>
                        <div class="pl-3 pr-3 pb-3">
                            <app-task-list [issue]="issue" [showIssue]="false"></app-task-list>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </as-split-area>
    </as-split>
</div>