<table *ngIf="issuelist && issuelist.total > 0" class="table table-striped table-sm issuelist small">
    <thead>
        <tr style="background-color: #eee;">
            <th width="1%">&nbsp;</th>
            <th width="5%">Key</th>
            <th>Summary</th>
            <!-- <th width="10%" class="text-truncate" *ngFor="let ef of issuelist.extendedFields">{{ef.name}}</th> -->
            <th width="10%">Duedate</th>
            <th width="5%">Status</th>
            <td width="1%">&nbsp;</td>
        </tr>
    </thead>

    <tr *ngFor="let issue of issuelist.results;let idx = index">
        <td><i class="{{issue.icon}} text-muted" [title]=issue.issueType></i></td>
        <td>
            <a (click)="openIssueAtIndex(idx)" class="text-primary text-nowrap"
                [ngClass]="{'issue-resolved': issue.resolution}">
                {{issue.key}}
                <!-- <fa-icon icon="external-link-alt" size="xs"></fa-icon> -->
            </a>

            <!-- <a class="text-primary text-nowrap" [ngClass]="{'issue-resolved': issue.resolution}"
                [routerLink]="['/browse', issue.key, 'purpose', issue.key]">
            </a> -->
        </td>

        <td class="text-truncate">{{issue.title}}</td>
        <td class="text-truncate">{{issue.duedate | date:'MMM dd, yyyy'}}</td>
        <td>
            <div class="badge text-truncate mt-1" [ngClass]="{'badge-success': issue.resolution, 
                'badge-warning':!issue.resolution && issue.duedateMissing,
                'badge-light border':!issue.resolution && !issue.duedateMissing}">
                {{issue.status}}
            </div>
        </td>
        <td>
            <app-issue-navigation-menu [issueKey]="issue.key" class="mr-2"></app-issue-navigation-menu>
        </td>
    </tr>
</table>

<p-sidebar [(visible)]="issueDetailsVisible" [fullScreen]="true" styleClass="bg-light" [showCloseIcon]="false">
    <app-issue-details *ngIf="issuelist && issuelist.results" [list]="issuelist.results" [(currentIndex)]="currentIndex"
        (close)="issueDetailsVisible = false" [enableEdits]="true" (fieldUpdated)="onFieldUpdated($event)">
    </app-issue-details>
</p-sidebar>