<div class="pane">
    <div class="pane-header" style="background-color: transparent; color:#000;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class=" input-group">
                        <input type="text" class="form-control border-primary text-dark " name="query"
                            [(ngModel)]="query" placeholder="query" id="query" type="text"
                            (keydown.enter)="executeQuery()" />
                        <div class="input-group-append">
                            <button [disabled]="!canExecuteQuery()" class="btn btn-primary " type="button"
                                (click)="executeQuery()">
                                <fa-icon icon="search" [fixedWidth]="true"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <button class="btn btn-link" (click)="onClose()">
                        <fa-icon icon="times" size="lg"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="pane-body bg-light mt-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div *ngIf="issuelist" class="p-3 bg-white">

                        <div *ngFor="let issue of issuelist.results" class="issue-list-item">
                            <a class="btn btn-link btn-sm text-dark text-left w-100 pt-0" (click)="onClose()"
                                [routerLink]="['/browse', issue.key, 'purpose', issue.key]">
                                <sub class="text-primary text-uppercase">{{issue.issueType}}: {{issue.key}}</sub>

                                <fa-icon icon="angle-right" class="text-muted float-right mt-2"></fa-icon>
                                <div>
                                    {{issue.title}}
                                    <span class="badge badge-light font-weight-normal">{{issue.status}}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-5" *ngIf="issuelist && issuelist.results && issuelist.results.length > 0">
                    <div class="rounded-0 bg-white p-4">
                        <button class="btn btn-brand" type="button" (click)="plotStoryboard()">
                            <fa-icon icon="map" [fixedWidth]="true"></fa-icon>
                            Switch to storymap view
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pane-footer">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <table class="row" *ngIf="issuelist">
                        <div class="col-md-3 pt-2 small">
                            {{issuelist.startAt + 1}} - {{issuelist.endAt}} / <b>{{issuelist.total}}</b>
                        </div>
                        <div class="col-md-9">
                            <ngb-pagination class="float-right" [maxSize]="3" [(page)]="currentPageIndex"
                                [boundaryLinks]="true" [pageSize]="issuelist.pageSize" size="sm"
                                (pageChange)="onPageChange()" [collectionSize]="issuelist.total">
                            </ngb-pagination>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>