<div *ngIf="storyboardItem">
    <button class="btn btn-link float-right" (click)="showStatistics = true">
        <fa-icon [icon]="['far', 'chart-bar']" size="lg"></fa-icon>
    </button>
    <div class="row mt-1">
        <div class="offset-md-9 col-md-3">
            <p-multiSelect styleClass="w-100" defaultLabel="Filter" *ngIf="statusLookup && statusLookup.length > 0"
                [options]="statusLookup" [(ngModel)]="selectedStatuses" (onChange)="onSelectedStatusChange()"
                optionLabel="key">
            </p-multiSelect>
        </div>
    </div>

    <app-storyboard-renderer [storyboardItem]="storyboardItem"></app-storyboard-renderer>

    <p-dialog [header]="storyboardItem.statistics.title" *ngIf="storyboardItem.statistics" position="topright"
        class="bg-light" [dismissableMask]="true" [modal]=true [(visible)]="showStatistics">
        <app-statistics [statistics]="storyboardItem.statistics"></app-statistics>
    </p-dialog>
</div>