<div *ngIf="storyboardItem">
    <button class="btn btn-link float-right mt-1" (click)="showStatistics = true">
        <fa-icon [icon]="['far', 'chart-bar']" size="lg"></fa-icon>
    </button>
    <app-storyboard-renderer [storyboardItem]="storyboardItem"></app-storyboard-renderer>

    <p-dialog header="Statistics" *ngIf="storyboardItem.statistics" position="topright" class="bg-light"
        [(visible)]="showStatistics">
        <app-statistics [statusStats]="storyboardItem.statistics.status"
            [issueTypeStats]="storyboardItem.statistics.issueTypes"
            [componentStats]="storyboardItem.statistics.components">
        </app-statistics>
    </p-dialog>
</div>