<div *ngIf="storyboardItem && storyboardItem.children">
    <button class="btn btn-link float-right" (click)="showStatistics = true" *ngIf="storyboardItem.statistics">
        <fa-icon [icon]="['far', 'chart-bar']" size="lg"></fa-icon>
    </button>

    <div class="row mt-1">
        <div class="col-md-2">
            <select class="form-control form-control-sm" style="width: 150px;" [(ngModel)]="groupByColumn"
                (change)="onGroupByColumnChanged()">
                <option value="components">Components</option>
                <option value="labels">Labels</option>
            </select>
        </div>

        <div class="offset-md-8 col-md-2 text-right">
            <p-multiSelect styleClass="w-100" defaultLabel="Filter" *ngIf="statusLookup && statusLookup.length > 0"
                [options]="statusLookup" [(ngModel)]="selectedStatuses" (onChange)="onSelectedStatusChange()"
                optionLabel="key">
            </p-multiSelect>
        </div>
    </div>

    <app-storyboard-renderer (itemSelected)="onItemSelected($event)" [groupByColumn]="groupByColumn"
        [storyboardItem]="storyboardItem">
    </app-storyboard-renderer>

    <p-dialog [header]="storyboardItem.statistics.title" *ngIf="storyboardItem.statistics" position="topright"
        class="bg-light" [dismissableMask]="true" [modal]=true [(visible)]="showStatistics">
        <app-statistics [groupByColumn]="groupByColumn" [statistics]="storyboardItem.statistics"></app-statistics>
    </p-dialog>
</div>

<p-sidebar [(visible)]="issueDetailsVisible" [fullScreen]="true" styleClass="bg-light" [showCloseIcon]="false">
    <app-issue-details *ngIf="issuelist && issuelist.results" [list]="issuelist.results" [(currentIndex)]="currentIndex"
        (close)="issueDetailsVisible = false" [enableEdits]="true" (fieldUpdated)="onFieldUpdated($event)">
    </app-issue-details>
</p-sidebar>