<div class="pl-3 pr-3" *ngIf="storyboardItem">
    <div class="mb-2 border-bottom">
        <button class="btn btn-link float-right mt-1" (click)="showStatistics = true">
            <fa-icon [icon]="['far', 'chart-bar']" size="lg"></fa-icon>
        </button>

        <sub class="text-uppercase mr-2">{{storyboardItem.issueType}}: {{storyboardItem.key}}</sub>

        <h2 class="font-weight-light mb-0">
            {{storyboardItem.title}}
        </h2>

        <div class="row">
            <div class="col-md-8">
                <a class="btn btn-link mr-1 pl-0" [routerLink]="['../../purpose',storyboardItem.key, 'details']"
                    title="Purpose">
                    <fa-icon [icon]="['far', 'lightbulb']" size="sm"></fa-icon> Purpose
                </a>
                <a class="btn btn-link mr-1" routerLink="details" title="Storyboarding" [routerLinkActive]="'active'">
                    <fa-icon icon="map" size="sm"></fa-icon> Storyboard
                </a>
                <!-- <a class="btn btn-link mr-1" routerLink="list" [routerLinkActive]="'active'">
                    <fa-icon [icon]="['far', 'copy']" size="sm"></fa-icon> Story list
                    <sub class="badge badge-white text-muted small" *ngIf="storyboardItem.metadata">
                        {{storyboardItem.metadata.count}}
                    </sub>
                </a> -->
            </div>
            <div class="col-md-4 text-right">
            </div>
        </div>
    </div>

    <div class="row small">
        <div class="col-md-3 mb-3"
            *ngIf="(storyboardItem.epicChildren && storyboardItem.epicChildren.length > 0) || (storyboardItem.relatedLinks && storyboardItem.relatedLinks.length > 0)">
            <div *ngIf="storyboardItem.epicChildren && storyboardItem.epicChildren.length > 0">
                <input type="checkbox" [(ngModel)]="includeEpicChildren" (change)="plotIssuesOnStoryboard()">
                <b class="badge badge-success ml-1">{{storyboardItem.epicChildren.length}}</b> issues in this epic
            </div>
            <div *ngIf="storyboardItem.relatedLinks && storyboardItem.relatedLinks.length > 0">
                <input type="checkbox" [(ngModel)]="includeRelatedIssues" (change)="plotIssuesOnStoryboard()">
                <b class="badge badge-success ml-1">{{storyboardItem.relatedLinks.length}}</b> related issues
            </div>
        </div>
        <div class="col-md-4 mb-3"
            *ngIf="storyboardItem.metadata && (storyboardItem.metadata.backlogCount > 0 || storyboardItem.metadata.noComponentCount > 0)">
            <div *ngIf="storyboardItem.metadata.backlogCount > 0" class="mr-4">
                <span class="badge badge-warning">{{storyboardItem.metadata.backlogCount}}</span>
                unplanned issues.
            </div>
            <div *ngIf="storyboardItem.metadata.noComponentCount > 0">
                <span class="badge badge-warning">{{storyboardItem.metadata.noComponentCount}}</span>
                issues in unknown functional areas.
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

    <p-dialog header="Statistics" *ngIf="storyboardItem && storyboardItem.statistics" position="topright"
        class="bg-light" [(visible)]="showStatistics">
        <app-epic-statistics [statusStats]="storyboardItem.statistics.status"
            [issueTypeStats]="storyboardItem.statistics.issueTypes"
            [componentStats]="storyboardItem.statistics.components">
        </app-epic-statistics>
    </p-dialog>

</div>