<!-- <p-table [columns]="storyboardItem.components" [value]="storyboardItem" *ngIf="storyboardItem">
    <ng-template pTemplate="header" let-components>
        <tr>
            <th *ngFor="let col of components">
                {{col}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-fixVersions="fixVersions">
        <tr>
            <td *ngFor="let col of fixVersions">
                {{rowData[col.field]}}
            </td> 
        </tr>
    </ng-template>
</p-table> -->

<table class="table table-bordered" *ngIf="storyboardItem">
    <thead>
        <tr class="bg-light">
            <td>&nbsp;</td>
            <td *ngFor="let c of storyboardItem.components">{{c}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fv of storyboardItem.fixVersions">
            <td class="bg-light">{{fv}}</td>
            <td *ngFor="let c of storyboardItem.components">

                <div class="custom-shadow alert bg-light" style="width:250px" *ngFor="let item of getItems(fv,c)">
                    {{item.title}}
                </div>

            </td>
        </tr>
    </tbody>
</table>