<div class="main-container">
    <div class="body-container">
        <div class="container-fluid">
            <div *ngIf="storyboardItem">
                <div class="pt-3 pb-3 mb-3 border-bottom">
                    <button class="btn btn-link float-right mt-1" (click)="showStatistics = true">
                        <fa-icon [icon]="['far', 'chart-bar']" size="lg"></fa-icon>
                    </button>

                    <h3 class="font-weight-light">{{storyboardItem.query}}</h3>
                </div>

                <app-storyboard-renderer [storyboardItem]="storyboardItem"></app-storyboard-renderer>
            </div>
        </div>

    </div>
    <div class="pane-footer">
        <div class="container-fluid">

            hello world
            <!-- <table class="row" *ngIf="issuelist">
                        <div class="col-md-3 pt-2 small">
                            {{issuelist.startAt + 1}} - {{issuelist.endAt}} / <b>{{issuelist.total}}</b>
                        </div>
                        <div class="col-md-9">
                            <ngb-pagination class="float-right" [maxSize]="3" [(page)]="currentPageIndex"
                                [boundaryLinks]="true" [pageSize]="issuelist.pageSize" size="sm"
                                (pageChange)="onPageChange()" [collectionSize]="issuelist.total">
                            </ngb-pagination>
                        </div>
                    </table> -->
        </div>
    </div>
</div>
<p-dialog header="Statistics" *ngIf="storyboardItem && storyboardItem.statistics" position="topright" class="bg-light"
    [(visible)]="showStatistics">
    <app-epic-statistics [statusStats]="storyboardItem.statistics.status"
        [issueTypeStats]="storyboardItem.statistics.issueTypes" [componentStats]="storyboardItem.statistics.components">
    </app-epic-statistics>
</p-dialog>