/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

a {
  cursor: pointer;
}
a:hover,
.btn-link:hover {
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .app-container {
    margin-top: 100pt;
  }
}

h1,
h2,
h3,
h4,
h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4pt;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #fafafa;
}

label {
  margin-bottom: 0;
}
.custom-shadow {
  box-shadow: 0 0 6px #ccc;
  border-radius: 2pt;
  border: 1px solid #ccc;
}

body .custom-node {
  width: 300px;
  background-color: #fff;
  padding: 0 4pt 4pt 4pt;
  box-shadow: -1px 2px 8px #ddd;
  border-radius: 0 0 4px 4px;
  border-top: solid 4px #fff;
}
body .ui-tree {
  border-width: 0;
  width: 100%;
  background-color: inherit !important;
  padding: 0;
}
.ui-tree .ui-tree-container {
  white-space: normal !important;
}
/* ul.ui-treenode-children {
  border-left: #ddd 1px dashed;
} */

body .ui-tree .ui-tree-container .ui-treenode {
  padding: 0 1pt;
}
.ui-tree .ui-treenode-children {
  padding-left: 5pt;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
  padding: 0 0.186em;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
  background-color: #d9ebff;
  color: #000;
  border-radius: 0 10pt 10pt 0;
  padding: 0 10pt 0 2pt;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content.ui-state-highlight .custom-node,
.ui-treenode-content-selected {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  border-width: 0;
}
.ui-treenode-content {
  box-shadow: #ccc;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content {
  border-width: 0;
}

/* body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
  color: #bbb;
} */
.pi-caret-down:before {
  content: "\e930";
  /* content: "\e902"; */
}
.pi-caret-right:before {
  content: "\e932";
  /* content: "\e901"; */
}
body .ui-tree .ui-tree-container {
  overflow: inherit;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
  white-space: nowrap;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content:focus {
  box-shadow: none;
}

body .ui-sidebar {
  padding: 0;
  box-shadow: 0 0 16px 0 #444;
  border-width: 0;
  z-index: 1032 !important; /*more than bootstrap fixed-top navbar (1030) */
}
.pane {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.pane .pane-fullheader {
  height: 80pt;
  box-shadow: 0 2px 4px #aaa;
  border-bottom: solid 1px #aaa;
  overflow: auto;
}
.pane .pane-fullbody {
  top: 84pt;
  height: calc(100% - 86pt);
  position: absolute;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.pane .pane-header {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px #aaa;
}
.pane .pane-body {
  top: 40pt;
  height: calc(100% - 72pt);
  position: absolute;
  width: 100%;
  margin: 0;
  overflow: auto;
}
.pane .pane-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 32pt;
  background-color: #eee;
  border-top: solid 1px #ddd;
  padding: 0.25rem 1rem;
}

.main-container {
  position: absolute;
  width: 100%;
  top: 48pt;
  height: calc(100% - 50pt);
  overflow: hidden;
}
.body-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  width: 100%;
  height: calc(100% - 32pt);
}
.footer-container {
  bottom: 0;
  position: sticky;
  width: 100%;
  max-height: 32pt;
  padding: 0.25rem 1rem;
}
.app-copyright {
  bottom: 8pt;
  left: 0;
  position: absolute;
}
.as-split-gutter {
  background-color: transparent !important;
  /* background-color: #f8f9fa; */
  flex-basis: 8px !important;
  border-left: 2px solid #f8f8f8;
}
/* .as-split-gutter-icon {
  background-image: none !important;
} */

.as-split-area {
  overflow: auto !important;
}
.as-split-area:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
}
.as-split-area ::-webkit-scrollbar-thumb {
  visibility: hidden;
  /* overflow: auto !important; */
}

.searchbox .border-light,
.searchbox .btn-light {
  background-color: #eee !important;
  border-color: #eee !important;
}

.center-text {
  position: fixed;
  /* box-shadow: 0 0 6px #bbb; */
  width: 400px;
  text-align: center;
  top: 20%;
  left: 50%;
  margin-left: -200px;
}

.center-text-sm {
  top: 15% !important;
}

.form-control:focus {
  box-shadow: none;
}
.table th {
  border-top-width: 0;
}
body .ui-toast {
  z-index: 1050 !important;
}
body .ui-toast .ui-toast-message {
  box-shadow: 0 0 6px 0 #888;
  border-radius: 2pt;
}
body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #fff;
  border-left: 10px solid #900;
  color: #000;
}
body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #fff;
  border-left: 10px solid #64bd63;
  color: #000;
}
body .ui-toast .ui-toast-message.ui-toast-message-info {
  background-color: #fff;
  border-left: 10px solid #038ff8;
  color: #000;
}
ngx-md p {
  margin-bottom: 0;
}

ngx-md h1,
.extended-fields h1,
ngx-md h2,
.extended-fields h2,
ngx-md h3,
.extended-fields h3 {
  font-size: inherit;
  font-weight: normal;
}

ngx-md h1:before,
.extended-fields h1:before,
ngx-md h2,
.extended-fields h2:before,
ngx-md h3,
.extended-fields h3:before {
  content: "-";
  display: block;
  float: left;
  padding-right: 10px;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
  z-index: 2;
}

.sticky-title {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #fff;

  /* background-color: #f8f9fa; */
  /* box-shadow: -1px 2px 4px #ccc; */
}

.hover-container {
  position: relative;
  display: block;
  border-radius: 2pt;
  padding: 1px 1px 6px 1px;
}

.hover-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.hover-container:not(.readonly):hover {
  padding-right: 16pt;
  box-shadow: 0 0 6px #ccc;
}

.hover-container:hover .hover-button {
  display: block;
}

.btn:focus,
.btn-outline-info:focus {
  box-shadow: none !important;
}

.btn-default {
  background-color: #e8e8e8;
}
.btn-default:hover {
  background-color: #c8c8c8;
}
.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.show > .btn-default.dropdown-toggle {
  background-color: #c8c8c8;
}
.hide-caret::after {
  content: none !important;
}

.popover-body {
  background-color: #f8f9fa;
}
.popover-header {
  background-color: #eeeeee;
  border-bottom: solid 1px #ddd;
}

.badge-white {
  background-color: #fff;
  border: 1px solid #eee;
}
.bg-light-warning {
  background-color: #fffff0;
}
.issue-list-item:hover {
  background-color: #fafafa;
}

.linked-issue {
  border-left: 5px solid #f80;
}

.editable-node:hover {
  text-decoration-line: underline;
}

.text-brand,
.text-brand:hover {
  color: #f28000 !important;
}
.btn-brand {
  color: #fff;
  background-color: #f80;
  border-color: #f80;
}

.list-group-flush-compact .list-group-item {
  padding: 0.25rem 0.75rem;
  background-color: inherit;
}
.pagination {
  margin: 0 !important;
}

.zoom-slider {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 24pt;
  padding: 12pt;
  margin: 0 8pt 8pt 0;
}

/* .body-container .zoom-slider {
  bottom: 32pt !important;
} */

body .ui-multiselect,
body .ui-multiselect .ui-multiselect-trigger {
  border-color: #ddd;
}

.text-no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timeline .ui-treetable {
  border-bottom: 1px solid #eee;
}
.timeline .ui-treetable .ui-treetable-thead > tr > th {
  font-weight: normal;
  border-width: 0 0 1px 0;
  text-align: center;
  background-color: #eee;
  padding: 0.4em 0.8em;
}
.timeline .ui-treetable .ui-treetable-tbody > tr > td {
  border-width: 0 1px 0 0;
  border-color: #f8f8f8;
  padding: 0.25em 0.8em;
}

/* .treetable-label > td {
  border-bottom: solid 1px #eee !important;
}
 */
.treetable-data > td {
  padding: 0.25em 0 !important;
}
.timeline-height {
  height: 0.4em;
  margin: 0.5em 0 0.6em 0;
}
.bg-timeline {
  background-color: #ddd;
}

.issue-resolved {
  text-decoration: line-through !important;
}

.storyboard th {
  padding: 0.25rem 0.75rem 0.4rem 0.75rem;
  font-weight: normal;
  background-color: #eee;
}

.issuelist .table thead tr > td {
  background-color: #eee;
  border-bottom-width: 1px;
}

.custom-dialog {
  width: 50vw;
}

@media screen and (max-width: 40em) {
  .custom-dialog {
    width: 75vw;
  }
}

.center-text .nav-link.active {
  background-color: #f8f8f8 !important;
  border-bottom: 1px solid #f8f8f8;
}

.proceed-button {
  position: fixed;
  bottom: 0;
  right: 10pt;
}

.badge {
  font-weight: 400;
  text-transform: uppercase;
}
