/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

a {
  cursor: pointer;
}
.btn-link:hover {
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .app-container {
    margin-top: 100pt;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4pt;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #fafafa;
}

label {
  margin-bottom: 0;
}
.custom-shadow {
  box-shadow: 0 0 6px #ccc;
  border-radius: 2pt;
  border: 1px solid #ccc;
}

body .custom-node {
  width: 300px;
  background-color: #fff;
  padding: 0 4pt 4pt 4pt;
  box-shadow: -1px 2px 8px #ddd;
  border-radius: 0 0 4px 4px;
  border-top: solid 4px #fff;
}
body .ui-tree {
  border-width: 0;
  width: 100%;
  background-color: inherit !important;
  padding: 0;
}
.ui-tree .ui-tree-container {
  white-space: normal !important;
}
/* ul.ui-treenode-children {
  border-left: #ddd 1px dashed;
} */

body .ui-tree .ui-tree-container .ui-treenode {
  padding: 0 1pt;
}
.ui-tree .ui-treenode-children {
  padding-left: 5pt;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
  padding: 0 0.186em;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
  background-color: #d9ebff;
  color: #000;
  border-radius: 0 10pt 10pt 0;
  padding: 0 10pt 0 2pt;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content.ui-state-highlight .custom-node,
.ui-treenode-content-selected {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  border-width: 0;
}
.ui-treenode-content {
  box-shadow: #ccc;
}
body .ui-tree.ui-tree-horizontal .ui-treenode .ui-treenode-content {
  border-width: 0;
}

/* body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
  color: #bbb;
} */
.pi-caret-down:before {
  content: "\e930";
  /* content: "\e902"; */
}
.pi-caret-right:before {
  content: "\e932";
  /* content: "\e901"; */
}
body .ui-tree .ui-tree-container {
  overflow: inherit;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
  white-space: nowrap;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content:focus {
  box-shadow: none;
}

body .ui-sidebar {
  padding: 0;
  box-shadow: 0 0 16px 0 #444;
  border-width: 0;
  z-index: 1032 !important; /*more than bootstrap fixed-top navbar (1030) */
}
.pane {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.pane .pane-header {
  background-color: #007bff;
  color: #fff;
  padding: 0.4rem 1rem;
  box-shadow: 0 2px 4px #666;
}
.pane .pane-body {
  top: 40pt;
  height: calc(100% - 72pt);
  position: absolute;
  width: 100%;
  margin: 0;
  overflow: auto;
}
.pane .pane-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 32pt;
  background-color: #eee;
  border-top: solid 1px #ddd;
  padding: 0.25rem 1rem;
}

.main-container {
  height: 100%;
  overflow: hidden;
}
.body-container {
  position: absolute;
  width: 100%;
  top: 48pt;
  height: calc(100% - 50pt);
  overflow: hidden;
}

.app-copyright {
  bottom: 8pt;
  left: 0;
  position: absolute;
}
.as-split-gutter {
  background-color: transparent !important;
  /* background-color: #f8f9fa; */
  flex-basis: 8px !important;
}
.as-split-gutter-icon {
  background-image: none !important;
}

.as-split-area {
  overflow: auto !important;
}
.as-split-area:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
}
.as-split-area ::-webkit-scrollbar-thumb {
  visibility: hidden;
  /* overflow: auto !important; */
}

.center-text {
  position: fixed;
  box-shadow: 0 0 6px #bbb;
  width: 400px;
  text-align: center;
  top: 30%;
  left: 50%;
  margin-left: -200px;
}

.center-text-sm {
  top: 15% !important;
}

.form-control:focus {
  box-shadow: none;
}
.table th {
  border-top-width: 0;
}
body .ui-toast {
  z-index: 1050 !important;
}
body .ui-toast .ui-toast-message {
  box-shadow: 0 0 6px 0 #888;
  border-radius: 2pt;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #fff;
  color: #900;
}
.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

.sticky-title {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #fff;

  /* background-color: #f8f9fa; */
  /* box-shadow: -1px 2px 4px #ccc; */
}

.hover-container {
  position: relative;
  display: block;
  border-radius: 2pt;
  padding: 1px 1px 6px 1px;
}

.hover-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.hover-container:not(.readonly):hover {
  padding-right: 16pt;
  box-shadow: 0 0 6px #ccc;
}

.hover-container:hover .hover-button {
  display: block;
}

.btn:focus,
.btn-outline-info:focus {
  box-shadow: none !important;
}

.btn-default {
  background-color: #e8e8e8;
}
.btn-default:hover {
  background-color: #dddddd;
}
.hide-caret::after {
  content: none !important;
}

.popover-body {
  background-color: #f8f9fa;
}
.popover-header {
  background-color: #eeeeee;
  border-bottom: solid 1px #ddd;
}

.badge-white {
  background-color: #fff;
  border: 1px solid #eee;
}
.bg-light-warning {
  background-color: #fffff0;
}
.issue-list-item:hover {
  background-color: #fafafa;
}
