<p-treeTable *ngIf="roadmapItems && metadata" [columns]="metadata.timespan"
    [frozenColumns]="metadata.fixedColumns" [scrollable]="true" frozenWidth="300px"
    [scrollHeight]="contentHeight + 'px'" [value]="roadmapItems" [resizableColumns]="true" columnResizeMode="expand">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:100px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.title}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
        <tr class="border-right bg-light" [ngClass]="{'border-bottom': rowData.isHeading}">
            <td>
                <div style="white-space: nowrap;overflow:hidden; text-overflow: ellipsis;">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <i class="{{rowData.icon}}"></i>
                    <span [title]="rowData.title" class="ml-2">{{rowData.label}}</span>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData="rowData" let-columns="columns">
        <tr class="treetable-data" [ngClass]="{'bg-light border-bottom': rowData.isHeading}" [title]="rowData.title">
            <td *ngFor="let col of columns">
                <div class="timeline-height {{getTimelineTypeClass(rowData.timespan, col.idx)}}">
                    &nbsp;
                </div>
            </td>
        </tr>
    </ng-template>
</p-treeTable>