<div class="bg-light container-fluid pb-1 border-bottom" *ngIf="selectedIssue">
    <div class="float-right btn-group btn-group-sm">
        <button class="btn btn-sm btn-link text-muted " (click)="toggleView()">
            <fa-icon [icon]="compactView ? 'expand-alt' : 'compress-alt'"></fa-icon>
        </button>
    </div>
    <nav aria-label="breadcrumb" *ngIf="!compactView">
        <ol class="breadcrumb small bg-light p-0 m-0">
            <li class="breadcrumb-item">
                <a [routerLink]="['/search/list']" class="text-uppercase">
                    <fa-icon icon="search" class="mr-1"></fa-icon> Results
                </a>
            </li>
            <li class="breadcrumb-item" *ngIf="primaryIssue && !primaryAndSelectIssueSame">
                <a [routerLink]="['/browse', primaryIssue.key]" class="text-uppercase">
                    {{primaryIssue.issueType}}: {{primaryIssue.key}}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <span class="text-uppercase text-dark" [title]="selectedIssue.resolution"
                    [ngClass]="{'issue-resolved': selectedIssue.resolution}">
                    {{selectedIssue.issueType}}: {{selectedIssue.key}}
                </span>

                <span class="badge text-truncate ml-2" [ngClass]="{'badge-success': selectedIssue.resolution, 
                'badge-warning':!selectedIssue.resolution && selectedIssue.duedateMissing,
                'badge-secondary':!selectedIssue.resolution && !selectedIssue.duedateMissing}">
                    {{selectedIssue.status}}
                </span>

                <app-issue-navigation-menu class="ml-3" [issueKey]="selectedIssue.key" [spread]="true">
                </app-issue-navigation-menu>

            </li>
        </ol>
    </nav>
    <uicontrols-textbox [text]="selectedIssue.title" styleClass="h2 font-weight-light mb-0 text-truncate"
        [canEdit]="!selectedIssue.resolution" (textUpdated)="onTitleUpdated($event)">
    </uicontrols-textbox>

    <div class="row" *ngIf="!compactView">
        <div class="col-md-6">
            <div class="btn-group">
                <a class="btn btn-default border btn-sm text-nowrap" [routerLink]="['details']" title="View purpose"
                    [routerLinkActive]="'active'">
                    <fa-icon icon="fire" size="sm" class="text-brand"></fa-icon>
                    <span class=" ml-1">Purpose</span>
                </a>

                <!-- <a class="btn btn-default border btn-sm text-nowrap" routerLink="workbench" title="Workbench"
                    [routerLinkActive]="'active'">
                    <fa-icon [icon]="['far','window-restore']" size="sm"></fa-icon>
                    <span class=" ml-1">Workbench</span>
                </a> -->

                <a class="btn btn-default border btn-sm text-nowrap" routerLink="storyboard" title="Storyboard"
                    [routerLinkActive]="'active'" *ngIf="canNavigateToStoryboard">
                    <fa-icon [icon]="['far', 'map']" size="sm"></fa-icon>
                    <span class=" ml-1">Storyboard</span>
                </a>

                <a class="btn btn-default border btn-sm text-nowrap" routerLink="timeline" title="Timeline"
                    [routerLinkActive]="'active'" *ngIf="canNavigateToStoryboard">
                    <fa-icon icon="map-signs" size="sm"></fa-icon>
                    <span class=" ml-1">Timeline</span>
                </a>
            </div>
        </div>
        <div class="col-md-6 text-right" *ngIf="!selectedIssue.resolution">
            <!-- <button class="btn btn-sm btn-link mr-1" (click)="createIssueVisible = true">
                <fa-icon icon="plus" size="sm" class="mr-1"></fa-icon> Create issue
            </button> -->
            <button class="btn btn-sm btn-link" (click)="linkIssueVisible = true">
                <fa-icon icon="link" size="sm" class="mr-1"></fa-icon> Link issue
            </button>
        </div>
    </div>

</div>
<!-- <pre>{{selectedIssue | json}}</pre> -->
<div style="overflow: auto;width:100%;" #content [style.height.px]="contentHeight">
    <router-outlet></router-outlet>
</div>

<!-- <p-sidebar [(visible)]="createIssueVisible" styleClass="ui-sidebar-md" position="right"
    (onHide)="createIssueCompleted($event)">
    <app-create-issue *ngIf="selectedIssue && selectedIssue.project" [project]="selectedIssue.project"
        (close)="createIssueCompleted($event)" (issueCreated)="onIssueCreated($event)">
    </app-create-issue>
</p-sidebar> -->

<p-sidebar [(visible)]="linkIssueVisible" styleClass="ui-sidebar-md" position="right"
    (onHide)="linkIssueCompleted($event)">
    <app-link-issue *ngIf="selectedIssue" [issue]="selectedIssue" (close)="linkIssueCompleted($event)"
        (issueLinked)="onIssueLinked($event)">
    </app-link-issue>
</p-sidebar>