<div *ngIf="storyboardItem">
    <div class="pl-3 pt-2 pb-2 pr-2">
        <div class="row small">
            <div class="col-md-2 col-lg-2 pt-1">
                <select class="form-control form-control-sm" style="width: 150px;" [(ngModel)]="groupByColumn"
                    (change)="onGroupByColumnChanged()">
                    <option value="components">Components</option>
                    <option value="labels">Labels</option>
                </select>
            </div>
            <div class="col-md-3 offset-lg-1 col-lg-2">
                <div [ngClass]="{'mt-2': !storyboardItem.relatedLinks || storyboardItem.relatedLinks.length === 0}"
                    *ngIf="storyboardItem.epicChildren && storyboardItem.epicChildren.length > 0">
                    <input type="checkbox" [(ngModel)]="includeEpicChildren" (change)="plotIssuesOnStoryboard()">
                    <b class="badge badge-success ml-1">{{storyboardItem.epicChildren.length}}</b> issues in this
                    epic
                </div>
                <div [ngClass]="{'mt-2': !storyboardItem.epicChildren || storyboardItem.epicChildren.length === 0}"
                    *ngIf="storyboardItem.relatedLinks && storyboardItem.relatedLinks.length > 0">
                    <input type="checkbox" [(ngModel)]="includeRelatedIssues" (change)="plotIssuesOnStoryboard()">
                    <b class="badge badge-success ml-1">{{storyboardItem.relatedLinks.length}}</b> related issues
                </div>
            </div>
            <div class="col-md-3 col-lg-4 text-truncate">
                <ng-container *ngIf="storyboardItem.metadata">
                    <div [ngClass]="{'mt-2': storyboardItem.metadata.emptyRecordCount === 0}"
                        *ngIf="storyboardItem.metadata.backlogCount > 0" class="mr-4">
                        <span class="badge badge-warning">{{storyboardItem.metadata.backlogCount}}</span>
                        unplanned issues.
                    </div>
                    <div [ngClass]="{'mt-2': storyboardItem.metadata.backlogCount === 0}"
                        *ngIf="storyboardItem.metadata.emptyRecordCount > 0">
                        <span class="badge badge-warning">{{storyboardItem.metadata.emptyRecordCount}}</span>
                        issues with unassigned {{groupByColumn}}.
                    </div>
                </ng-container>
            </div>
            <div class="col-md-3 col-lg-2 pt-1">
                <p-multiSelect styleClass="w-100" defaultLabel="Filter" *ngIf="statusLookup && statusLookup.length > 0"
                    [options]="statusLookup" [(ngModel)]="selectedStatuses" (onChange)="onSelectedStatusChange($event)"
                    optionLabel="key">
                </p-multiSelect>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-link pr-0" (click)="showStatistics = true"
                    *ngIf="(storyboardItem.epicChildren && storyboardItem.epicChildren.length > 0) || (storyboardItem.relatedLinks && storyboardItem.relatedLinks.length > 0)">
                    <fa-icon [icon]="['far', 'chart-bar']" size="lg"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <app-storyboard-renderer [groupByColumn]="groupByColumn" [storyboardItem]="storyboardItem"
        (fieldValueChange)="onFieldValueChanged($event)">
    </app-storyboard-renderer>

    <p-dialog [header]="storyboardItem.statistics.title" *ngIf="storyboardItem && storyboardItem.statistics"
        position="right" class="bg-light" [dismissableMask]="true" [modal]=true [(visible)]="showStatistics">
        <app-statistics [groupByColumn]="groupByColumn" [statistics]="storyboardItem.statistics"></app-statistics>
    </p-dialog>
</div>