<div >
    <as-split direction="horizontal" *ngIf="issue" (gutterDblClick)="toggleFullscreen()" (dragEnd)="dragEnd($event)">
        <as-split-area [size]="columns[0].size">
            <div class="alert" style="overflow: auto;">
                <ngx-md [data]="issue.description"></ngx-md>

                <div class="alert bg-light small mt-3 mb-3" *ngIf="issue.fixVersions && issue.fixVersions.length > 0">
                    <span class="text-muted">FIX VERSION: </span>
                    <span class="ml-1" *ngFor="let fv of issue.fixVersions">{{fv}}</span>
                </div>

                <app-extended-fields [issue]="issue" *ngIf="leftPaneSize > 0"></app-extended-fields>
            </div>
        </as-split-area>
        <as-split-area [size]="columns[1].size" [ngClass]="{'small': columns[0].size !== 0}">
            <button class="btn btn-sm btn-link text-muted float-right mt-2" title="expand/collapse pane"
                (click)="toggleFullscreen()">
                <fa-icon [icon]="columns[0].size === 0 ? 'compress' : 'expand'" [fixedWidth]="true"></fa-icon>
            </button>
            <ul ngbNav #nav="ngbNav" class="nav-tabs mt-2" [(activeId)]="selectedTab" [destroyOnHide]="false">
                <li [ngbNavItem]="1" *ngIf="issue.issueType === localNodeType.Epic">
                    <a ngbNavLink (click)="toggleAllEpicChildren()">
                        <fa-icon *ngIf="groupedEpicChildren && groupedEpicChildren.length > 1"
                            [icon]="allEpicChildrenVisible ? 'angle-double-down' : 'angle-double-right'" size="sm"
                            [fixedWidth]="true">
                        </fa-icon>
                        Issues in epic
                    </a>
                    <ng-template ngbNavContent>
                        <div class="pl-2 pr-2 pb-2">
                            <div class="alert alert-warning"
                                *ngIf="!groupedEpicChildren || groupedEpicChildren.length === 0">
                                There are no issues in this epic
                            </div>

                            <div *ngIf="groupedEpicChildren && groupedEpicChildren.length > 0">
                                <div *ngIf="!selectedEpicIssue">
                                    <div *ngFor="let child of groupedEpicChildren">
                                        <div class="text-muted text-uppercase mt-1 mb-1">
                                            <button class="btn btn-sm btn-link text-left text-dark"
                                                [ngClass]="{'w-100 btn-light ': child.visible}"
                                                (click)="child.visible = !child.visible">
                                                <fa-icon [icon]="child.visible ? 'angle-down' : 'angle-right'" size="sm"
                                                    [fixedWidth]="true"></fa-icon>
                                                <span class="ml-2">{{child.label}} / {{child.total}}</span>
                                            </button>
                                        </div>
                                        <div *ngIf="child.visible" class="mb-4">
                                            <div class="ml-3 p-1 border-bottom text-no-wrap"
                                                *ngFor="let i of child.children">
                                                <app-issue-navigation-menu class="float-right" [issueKey]="i.key">
                                                </app-issue-navigation-menu>
                                                <div class="text-uppercase float-right mt-1">
                                                    <div class="badge badge-light ml-2 font-weight-normal "
                                                        title="status">
                                                        {{i.status}}
                                                    </div>
                                                    <div class="badge badge-light font-weight-normal " title="Due date">
                                                        {{i.duedate | date:'mediumDate'}}
                                                    </div>
                                                </div>
                                                <i [class]="i.icon" class="mr-1"></i>
                                                <a (click)="selectEpicIssue(i)" class="text-primary mr-2"
                                                [ngClass]="{'issue-resolved': i.resolution}"
                                                >{{i.key}}</a>
                                                {{i.title}}
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-light btn-sm text-primary mt-4" routerLink="../storyboard">
                                        Storyboard view
                                        <fa-icon icon="chevron-right" size="sm"></fa-icon>
                                    </a>
                                </div>

                                <div *ngIf="selectedEpicIssue">
                                    <app-task-list [issue]="selectedEpicIssue" [showIssue]="true"
                                        (close)="resetSelectedEpicIssue()">
                                    </app-task-list>
                                </div>

                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="2" *ngIf="groupedRelatedLinks && groupedRelatedLinks.length > 0">
                    <a ngbNavLink (click)="toggleAllRelatedIssues()">
                        <fa-icon *ngIf="groupedRelatedLinks.length > 1"
                            [icon]="allRelatedIssuesVisible ? 'angle-double-down' : 'angle-double-right'" size="sm"
                            [fixedWidth]="true">
                        </fa-icon>
                        Related
                    </a>
                    <ng-template ngbNavContent>
                        <div class="pl-2 pr-2 pb-2">

                            <!-- <app-grouped-issue-list [issues]="issue.relatedLinks" groupBy="linkType"
                                [projectConfig]="issue.projectConfig">
                            </app-grouped-issue-list> -->

                            <div *ngIf="!selectedRelatedIssue">
                                <div *ngFor="let child of groupedRelatedLinks">

                                    <div class="text-muted text-uppercase mt-1 mb-1">
                                        <button class="btn btn-sm btn-link text-left text-dark"
                                            [ngClass]="{'w-100 btn-light ': child.visible}"
                                            (click)="child.visible = !child.visible">
                                            <fa-icon [icon]="child.visible ? 'angle-down' : 'angle-right'" size="sm"
                                                [fixedWidth]="true"></fa-icon>
                                            <span class="ml-2">{{child.label}}
                                                <span *ngIf="child.children"> / {{child.children.length}}</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div *ngIf="child.visible" class="mb-4">
                                        <div class="ml-3 p-1 border-bottom text-no-wrap" [title]="i.issueType"
                                            *ngFor="let i of child.children">
                                            <app-issue-navigation-menu class="float-right" [issueKey]="i.key">
                                            </app-issue-navigation-menu>
                                            <div
                                                class="badge badge-light font-weight-normal text-uppercase float-right mt-1">
                                                {{i.status}}
                                            </div>
                                            <i [class]="i.icon" class="mr-1"></i>
                                            <a (click)="selectRelatedIssue(i)" class="text-primary mr-2">{{i.key}}</a>
                                            {{i.title}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedRelatedIssue">
                                <app-task-list [issue]="selectedRelatedIssue" (close)="resetSelectedRelatedIssue()"
                                    [showIssue]="true"></app-task-list>
                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="3">
                    <a ngbNavLink (click)="reloadSubtasks()">Task breakup</a>
                    <ng-template ngbNavContent>
                        <div class="pl-2 pr-2 pb-2">
                            <app-task-list [issue]="selectedIssue" [showIssue]="false">
                            </app-task-list>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </as-split-area>
    </as-split>
</div>